<section class="container-wrapper footer-contact-container">
        <div class="footer-contact">
            <h1 class="h1-landing">Let's talk!</h1>
            <nav class="contact-links"> 
                <ul>
                    <li>
                        <a href="/contact">
                            <span class="underline">
                                Contact
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="underline">
                                LinkedIn
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="underline">
                                    Instagram
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
</section>


