<footer class="footer-light">
    <div class="container-wrapper footer-content">

        <div class="footer-contact">
            <h1 class="h1-landing">Let's talk!</h1>
            <nav class="footer-nav"> 
                <ul>
                    <li>
                        <a href="/contact">
                            <span class="underline">Contact</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="underline">LinkedIn</span>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <span class="underline">Instagram</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="footer-info">
            <span>© 2025 Tim Feuring
                &nbsp;&nbsp;|&nbsp;&nbsp;
                <a class="underline" href="imprint.html" target="_blank">Imprint</a>
            </span>
        </div>
    </div>
</footer>