<section class="container-wrapper about" id="about">
    <div class="about-intro">
        <h1  class="about-headline" id="about-headline"> Hej </h1>
        <p>
            I’m a designer based in Hamburg. Currently vocational trainee at digital agency SinnerSchrader, fascinated to learn about a dozen subjects of design craftsmenship. Possibly a bit nerdy on lettering. My guilty pleasure is hoarding more art supplies than I could ever use up and getting my hands dirty with ink. 
            
            <!-- Read more on what I spend my time with
            <a class="underline" href="about.html">here.</a> -->

            <br>
            <br>
            Besides my work at SinnerSchrader, I am available for interesting side projects. Feel free to contact me.
        </p>
        <a class="about__contact-links underline" href="mailto:feuring.tim@gmail.com" target="_blank">mail</a> 
        <a class="about__contact-links underline" href="https://www.xing.com/profile/Tim_Feuring3/cv" target="_blank">xing</a>
        <a class="about__contact-links underline" href="https://www.linkedin.com/in/tim-feuring-580864164/" target="_blank">linkedin</a>
    </div>
</section>