<section class="container-wrapper about" id="about">
    <div class="about-container">
        <div class="about-intro">
            <h1  class="about-headline" id="about-headline"> Hej </h1>
            <p>
                I’m a designer and artist based in Hamburg. I work both digital and analog to create visual solutions. I’m fascinated to dive into a dozen subjects of design craftsmenship, with lots of love for the details and a particular passion for all things related to letters. 
                My guilty pleasure is hoarding tons of art supplies and getting my hands dirty with ink. 
                <br><br>Feel free to contact me for inquiries and questions of any kind. Also visit my
                <a class="underline" href="https://www.instagram.com/feuarrr/" target="_blank">Instagram</a> for recent work.
                <br><br>
            </p>
            
            <br><br>
            <a class="button" id="lettering-button" href="contact.html" target="blank"> contact me </a>
        </div>
        <img class="about-img" src="assets/img/about/tim-cutout.png" alt="Tim Feuring">
    </div>
</section>



 

<!-- 

I’m a designer and artist based in Hamburg. I work both digital and analog to create visual solutions. I’m fascinated to dive into a dozen subjects of design craftsmenship, with lots of love for the details. 

My guilty pleasure is hoarding tons of art supplies and getting my hands dirty with ink. Feel free to contact me. Also visit my Instagram for recent work. 

mail  xing  linkedin

 -->