<section class="container-wrapper about" id="about">
    <div class="about-container">
        <div class="about-intro">
            <h1  class="about-headline" id="about-headline"> Hej </h1>
            <p>
                I’m a digital and analog designer based in Hamburg. Currently vocational trainee at digital agency SinnerSchrader, fascinated to learn about a dozen subjects of design craftsmenship, with a great passion for lettering. My guilty pleasure is hoarding tons of art supplies and getting my hands dirty with ink. 
                
                <!-- Read more on what I spend my time with
                <a class="underline" href="about.html">here.</a> -->

                <br>
                <br>
                Besides my work at SinnerSchrader, I am available for interesting side projects. Feel free to contact me. Also visit my <a class="about__contact-links underline" href="https://dribbble.com/TFeuring" target="_blank">Dribbble</a>and <a class="about__contact-links underline" href="https://www.instagram.com/feuarrr/" target="_blank">Instagram.</a>
            </p>
            <a class="about__contact-links underline" href="mailto:feuring.tim@gmail.com" target="_blank">mail</a> 
            <a class="about__contact-links underline" href="https://www.xing.com/profile/Tim_Feuring3/cv" target="_blank">xing</a>
            <a class="about__contact-links underline" href="https://www.linkedin.com/in/tim-feuring-580864164/" target="_blank">linkedin</a>
        </div>
        <img class="about-img" src="assets/img/tim-cutout.png" alt="Tim Feuring">
    </div>
    <!-- <span class="more-about-me"> <img src="assets/img/icons/dropdown.svg" alt="dropdown arrow"> Learn more about me</span> -->
</section>
