<section class="container-wrapper lettering">
    <span id="lettering"></span>
    <div>
        <div class="lettering-content">
            <h1  class="about-headline" id="about-headline"> Lettering </h1>
            <p>
                Lettering has been a passion of mine since many years. I was always fascinated by the beauty of letters and about how typography can be used in so many ways to express diverse meanings and to communicate. Over the years, I've trained my skills and knowleadge to various aspects of typography by learning to create letters in the traditional way - by building them from scratch by hand. 
                <br><br>
                I love to work creatively with letters and never get tired of learning new sides and trades of the craft. Since a few years, I'm sharing my knowledge to introduce others into the art of writing beautiful letters by offering lettering courses for private and business events.
                <!-- Read more on what I spend my time with
                <a class="underline" href="about.html">here.</a> -->

                <br>
                <br>
            I'm constantly developing my lettering skills and I share my art and processes on Instagram. 
            <a class="about__contact-links underline" href="https://www.instagram.com/feuarrr/" target="_blank">Click here to get an impression of my art.</a>
            </p>
        </div>
    </div>
</section>
