<section class="container-wrapper lettering">
    <span id="lettering"></span>
        <div class="lettering-content">
            <div class="lettering-copy">
                <h2  id="lettering-headline"> Lettering </h2>
                <!-- class="lettering-headline" -->
                <p>
                    Letters do not only convey information. Letters live, they spark emotion, and when used correctly, catch a viewers eye at once. Letters are unique pieces of art – thats why they are one of my biggest passions in graphic design. Since many years, I train my knowledge of the craft to create conveying artworks with soul. 
                    <br><br>
                    Whether digital work or handwritten sign – I help your business to create unique visual solutions you and your customers will love. 
                    <br><br>
                    Have a project idea or any questions?
                    <br>

                </p>

                <a class="button" id="lettering-button" href="contact.html" target="blank"> contact me </a>
             </div>
            <img id="lettering-img" src="assets/img/lettering/tf-lettering.jpg" alt="tf-lettering">
        </div>

        <div class="lettering-gallery">
            <div class="container-wrapper inner-lettering-gallery">

                <!-- <h2>Gallery</h3> -->
                <div class="lettering-gallery-wrapper">
                
                    <div class="lettering-gallery-cont">
                        <div class="lettering-gallery-img">
                            <div class="preview-dummy"></div>
                            <div class="lettering-gallery-preview">
                                <img class="lettering-gallery-preview preview-transform" src="assets/img/lettering/gallery/gallery-01.png" alt="lettering-gallery-img">
                            </div>
                        </div>
                    </div>
        
                    <div class="lettering-gallery-cont">
                        <div class="lettering-gallery-img">
                            <div class="preview-dummy"></div>
                            <div class="lettering-gallery-preview">
                                <img class="lettering-gallery-preview preview-transform" src="assets/img/lettering/gallery/gallery-02.png" alt="lettering-gallery-img">
                            </div>
                        </div>
                    </div>
        
                    <div class="lettering-gallery-cont">
                        <div class="lettering-gallery-img">
                            <div class="preview-dummy"></div>
                            <div class="lettering-gallery-preview">
                                <img class="lettering-gallery-preview preview-transform" src="assets/img/lettering/gallery/gallery-03.png" alt="lettering-gallery-img">
                            </div>
                        </div>
                    </div>
        
                    <div class="lettering-gallery-cont">
                        <div class="lettering-gallery-img">
                            <div class="preview-dummy"></div>
                            <div class="lettering-gallery-preview">
                                <img class="lettering-gallery-preview preview-transform" src="assets/img/lettering/gallery/gallery-04.png" alt="lettering-gallery-img">
                            </div>
                        </div>
                    </div>
        
                    <div class="lettering-gallery-cont">
                        <div class="lettering-gallery-img">
                            <div class="preview-dummy"></div>
                            <div class="lettering-gallery-preview">
                                <img class="lettering-gallery-preview preview-transform" src="assets/img/lettering/gallery/gallery-05.png" alt="lettering-gallery-img">
                            </div>
                        </div>
                    </div>
        
                    <div class="lettering-gallery-cont">
                        <div class="lettering-gallery-img">
                            <div class="preview-dummy"></div>
                            <div class="lettering-gallery-preview">
                                <img class="lettering-gallery-preview preview-transform" src="assets/img/lettering/gallery/gallery-06.png" alt="lettering-gallery-img">
                            </div>
                        </div>
                    </div>
        
                    <div class="lettering-gallery-cont">
                        <div class="lettering-gallery-img">
                            <div class="preview-dummy"></div>
                            <div class="lettering-gallery-preview">
                                <img class="lettering-gallery-preview preview-transform" src="assets/img/lettering/gallery/gallery-07.png" alt="lettering-gallery-img">
                            </div>
                        </div>
                    </div>
        
                    <div class="lettering-gallery-cont">
                        <div class="lettering-gallery-img">
                            <div class="preview-dummy"></div>
                            <div class="lettering-gallery-preview">
                                <img class="lettering-gallery-preview preview-transform" src="assets/img/lettering/gallery/gallery-08.png" alt="lettering-gallery-img">
                            </div>
                        </div>
        
                    </div>
                </div>

                <div class="lettering-linkout">
                    <p class="centered">
                        For more recent artwork, visit my instagram
                    </p>

                    <a class="button" id="lettering-gallery-button" href="https://www.instagram.com/feuarrr/" target="_blank"> @feuarrr </a>
                </div>
            </div>
        </div>
</section>



