<section class="container-wrapper lettering">
    <span id="lettering"></span>
        <div class="lettering-content">
            <div class="lettering-copy">
                <h1  class="lettering-headline" id="lettering-headline"> Lettering </h1>
                <p>
                    Letters do not only convey information. Letters live, they spark emotion, and when used correctly, catch a viewers eye at once. Letters are unique pieces of art – thats why they are one of my biggest passions in graphic design. Since many years, I train my knowlegde of the craft to create conveying artworks with soul. 
                    <br><br>
                    Whether digital work or handwritten sign – I help your business to create unique visual solutions you and your customers will love. 
                    <br><br>
                    Have a project idea or any questions?
                    <br>

                </p>

                <a id="lettering-button" href="contact.html" target="blank"> contact me </a>
             </div>
            <img id="lettering-img" src="assets/img/lettering/tf-lettering.jpg" alt="tf-lettering">
        </div>
</section>
