<nav class="main-nav">
    <div class="main-nav__inner container-wrapper">
      
      <!-- Logo -->
      <a href="index" class="main-nav__logo-link">
        <img src="assets/img/tf-logo.svg" alt="tf-logo" class="main-nav__logo" />
        <p>Tim Feuring</p>
      </a>
  
      <!-- Burger Button -->
      <button class="burger-button" id="burger-button" aria-label="Toggle navigation" aria-expanded="false">
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
      </button>
  
      <!-- Navigation -->
      <ul class="main-nav__list" id="main-nav__list">
        <li><a href="/index" onclick="closeBurgerNav();"><span class="nav-link active">home</span></a></li>
        <li><a href="/work" onclick="closeBurgerNav();"><span class="nav-link underline">work</span></a></li>
        <li><a href="/about" onclick="closeBurgerNav();"><span class="nav-link underline">about</span></a></li>
        <!-- <li><a href="/shop" onclick="closeBurgerNav();"><span class="nav-link underline">shop</span></a></li> -->
        <li><a href="/studies" onclick="closeBurgerNav();"><span class="nav-link underline">studies</span></a></li>
        <li><a href="/contact" onclick="closeBurgerNav();"><span class="nav-link underline">contact</span></a></li>
      </ul>
  
    </div>
  </nav>
  