<nav class="main-nav" id="nav">
    <div class="container-wrapper main-nav__inner">
        
        <a id="main-nav__logo-link" href="index.html">
                <img class="main-nav__logo" src="/assets/img/tf-logo.svg" alt="">
        </a>
        
        <!-- Für Burgermenü-->
        <input id="main-nav__trigger" type="checkbox" />
        
        <span class="burger"></span>
        <span class="burger"></span>
        <span class="burger"></span>
        
        <!-- Navigationspunkte -->
        <ul class="main-nav__ul" id="main-nav__ul">
            <li>
                <a onclick="closeBurgerNav();" href="#about">
                    <div class="active-page " id="nav-about">
                        <span class="underline">about</span>
                    </div>
                </a>
            </li>
            <li>
                <a onclick="closeBurgerNav();" href="index.html#work">
                    <div id="nav-work">
                        <span class="underline">work</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</nav>