<section class="paintings">
    <div class="container-wrapper section-content">
        <span id="paintings"></span>
        <div>
            <div class="paintings-content">
                <h2 class="font-inverted"> Painting </h2>
            </div>

            <div class="gallery-wrapper">   
                <a href="" class="prj-cont">
                    <div class="prj-img">
                        <div class="gallery-dummy"></div>
                        <div class="prj-preview">
                            <img class="prj-zoom"  src="assets/img/paintings/stillleben-sw-tf.jpg" alt="">
                        </div>
                    </div>
                </a>
    
                <a href="" class="prj-cont">
                    <div class="prj-img">
                        <div class="gallery-dummy"></div>
                        <div class="prj-preview">
                            <img class="prj-zoom"  src="assets/img/paintings/collage-painting-tf.jpg" alt="">
                        </div>
                    </div>
                </a>
    
                <a href="" class="prj-cont">
                    <div class="prj-img">
                        <div class="gallery-dummy"></div>
                        <div class="prj-preview">
                            <img class="prj-zoom" src="assets/img/paintings/stillleben-tf.jpg" alt="">
                        </div>
                    </div>
                </a>

                <a href="" class="prj-cont">
                    <div class="prj-img">
                        <div class="gallery-dummy"></div>
                        <div class="prj-preview">
                            <img class="prj-zoom"  src="assets/img/paintings/geometric-painting-tf.jpg" alt="">
                        </div>
                    </div>
                </a>
                

            </div>

        </div>
    </div>
</section>