<section class="products">
    <div class="container-wrapper section-content">
        <span id="products"></span>
        <div>
            <div class="products-content">
                <h2 class="font-inverted"> Products </h2>
            </div>


            <div class="gallery-wrapper">
                <a href="" class="prj-cont">
                    <div class="prj-img">
                        <div class="gallery-dummy"></div>
                        <div class="prj-preview">
                            <img class="prj-zoom"  src="assets/img/drawings/rocket.jpg" alt="">
                        </div>
                    </div>
                </a>
    
                <a href="" class="prj-cont">
                    <div class="prj-img">
                        <div class="gallery-dummy"></div>
                        <div class="prj-preview">
                            <img class="prj-zoom"  src="assets/img/drawings/mushroom.jpg" alt="">
                        </div>
                    </div>
                </a>
    
            </div>
        </div>
    </div>
</section>