    <nav class="main-nav project-nav" id="nav">
        <div class="container-wrapper main-nav__inner">
            <a href="index.html" title="">
                <div class="underline" id="nav-about">
                    <img src="assets/img/icons/arrow-left.svg" alt="back">
                    <span>back</span>
                </div>
            </a>
            <!-- Navigationspunkte -->
            <ul class="project-nav__ul" id="project-nav__ul">
                {% if page.previous.url %}
                    <li>
                        <a href="{{page.previous.url}}" title="previous">
                            <div id="nav-about">
                                <span class="underline">previous</span>
                            </div>
                        </a>
                    </li>
                {% elsif page.previous.url  == null %}
                    <li>
                        <a class="inactive" title="previous">
                            <div id="nav-about">
                                <span class="underline">previous</span>
                            </div>
                        </a>
                    </li>
                {% endif %}

                {% if page.next.url %}
                    <li>
                        <a href="{{page.next.url}}" title="next">
                            <div id="nav-about">
                                <span class="underline">next</span>
                            </div>
                        </a>
                    </li>
                {% elsif page.next.url  == null %}
                    <li>
                        <a class="inactive" title="next">
                            <div id="nav-about">
                                <span class="underline">next</span>
                            </div>
                        </a>
                    </li>
                {% endif %}
                
            </ul>
        </div>
    </nav>