
    <nav class="project-nav">
        <div class="container-wrapper main-nav__inner">
            <a href="/work.html?category={{ page.category }}" title="">
                <div class="prj-nav-back">
                    <div class="underline" id="nav-about">
                        <img src="assets/img/icons/arrow-left.svg" alt="back">
                        <span>overview</span>
                    </div>
                    <!-- <img class="prj-nav__logo" src="assets/img/tf-logo.svg" alt="tf-logo"> -->
                </div>
            </a>
            
            <!-- Navigationspunkte -->
            <ul class="project-nav__ul" id="project-nav__ul">
                {% if page.previous.url %}
                    <li>
                        <a href="{{page.previous.url}}" title="previous">
                                <span class="underline">previous</span>
                        </a>
                    </li>
                {% elsif page.previous.url  == null %}
                    <li>
                        <a class="inactive" title="previous">
                                <span class="underline">previous</span>
                        </a>
                    </li>
                {% endif %}

                {% if page.next.url %}
                    <li>
                        <a href="{{page.next.url}}" title="next">
                                <span class="underline">next</span>
                        </a>
                    </li>
                {% elsif page.next.url  == null %}
                    <li>
                        <a class="inactive" title="next">
                                <span class="underline">next</span>
                        </a>
                    </li>
                {% endif %}
                
            </ul>
        </div>
    </nav>