<div class="screen-memories-container">
    

    <br><br>
    <h3>A component-based variable font experiment</h3>
    <br>
    <p> Variable fonts open up a great range of new possibilities for typography in digital applications. 
        <br>
        ((implementation in type design, component-based approach, ...))
        <br><br>
        This page shows the  outcomes of my experiments with creating a component-based font thats aligned to a specific grid.
        <br><br>
    </p>
        <h4> Introducing variable axes</h4>
        
    <p>There are four axes in this variable font that can each be manipulated seperately. See below how the axes affect the base component of the letters:</p>


    <div class="component-explanation">
        <div class="component-example">
            <div>
                <span class="screenmemories-base wght-loop">°</span>
                <span class="component-example-subline"> Weight </span>
            </div>
        </div>
        <div class="component-example">
            <div>
                <span class="screenmemories-base form-loop">°</span>
                <span class="component-example-subline"> Form </span>
            </div>
        </div>
        <div class="component-example">
            <div>
                <span class="screenmemories-base slnt-loop">°</span>
                <span class="component-example-subline"> Slant </span>
            </div>
        </div>
        <div class="component-example">
            <div>
                <span class="screenmemories-base angl-loop">°</span>
                <span class="component-example-subline"> Angle </span>
            </div>
        </div>
    </div>


    <p>Now how does the adjustment of the base component affect the look and feel of the letters? Hover over the boxes to see how the properties of the letters change.</p>

    <div class="axis-explanation">
        <div class="axis-box">
            <h5>Weight</h5>
            <span class="screenmemories-base axis-example wght">^ A&nbsp;</span>
        </div>
        
        <div class="axis-box">
            <h5>Form</h5>
            <span class="screenmemories-base axis-example form">^ A&nbsp;</span>
        </div>

        <div class="axis-box">
            <h5>Slant</h5>
            <span class="screenmemories-base axis-example slnt">^ A&nbsp;</span>
        </div>

        <div class="axis-box">
            <h5>Component Angle</h5>
            <span class="screenmemories-base axis-example angl">^ A&nbsp;</span>
        </div>

    </div>

    <div>
        <h4>Weight</h4>    
        <br>
        <div class="text-stage-axes">
            <span id="" class="stage-text screenmemories-base weight-example" role="textbox" contenteditable>&nbsp;Weight&nbsp;</span>
        </div>
    </div>

    <div>
        <h4>Form</h4>    
        <br>
        <div class="text-stage-axes">
            <span id="" class="stage-text screenmemories-base form-example" role="textbox" contenteditable>&nbsp;Form&nbsp;</span>
        </div>
    </div>

    <div>
        <h4>Slant</h4>    
        <br>
        <div class="text-stage-axes">
            <span id="" class="stage-text screenmemories-base slant-example" role="textbox" contenteditable>&nbsp;Slant&nbsp;</span>
        </div>
    </div>

    <div>
        <h4>Component Angle</h4>    
        <br>
        <div class="text-stage-axes">
            <span id="" class="stage-text screenmemories-base angle-example" role="textbox" contenteditable>&nbsp;Angle&nbsp;</span>
        </div>
    </div>

    <div>
        <h4>All variable axes together</h4>    
        <br>
        <div class="text-stage-axes">
            <span id="" class="stage-text screenmemories-base all-axes-example" role="textbox" contenteditable>&nbsp;All axes&nbsp;</span>
        </div>
    </div>


    <p> But what happens when our base component changes its form completely? <br>
        Try it out and switch the base component by clicking one the one you'd like to see.
    </p>


    <div>
        <div class="component-change">
            <div id="variant-a" class="component-changer active-changer">
                <span  > ° </span>
            </div>
            <div id="variant-b" class="component-changer inactive-changer">
                <span  > ° </span>
            </div>
            <div id="variant-c" class="component-changer inactive-changer">
                <span  > ° </span>
            </div>
            <div id="variant-d" class="component-changer inactive-changer">
                <span  > ° </span>
            </div>
        </div>
        <div class="text-stage">
            <span id="stagetext" class="stage-text screenmemories-base" role="textbox" contenteditable>&nbsp;Hello&nbsp;</span>
        </div>

    </div>

    <div class="charset">
        <h4>Character Set</h4>
        <span class="screenmemories-base"> 
            ABCDEFGHIJKLMNOPQRSTUVWXYZÄÖÜ
            <br>
            abcdefghijklmnopqrstuvwxyzäöü
            <br>
            0123456789
            <br>
            .,:;!?-–()
        </span>
    </div>

    <p> 
        <!-- Thanks for reading and checking out my variable font experiments! -->
        <br><br>
        This font was designed in the type design course "Screen Memories" under the guidance of Prof. Pierre-Pane-Farré, summer semester 2022, HAW Hamburg.
    </p>


<script>    
    document.getElementById("variant-a").addEventListener("click", fontVariantA);
    function fontVariantA() {
        document.getElementById("stagetext").classList.add("font-variant-a");
        document.getElementById("stagetext").classList.remove("font-variant-b");
        document.getElementById("stagetext").classList.remove("font-variant-c");
        document.getElementById("stagetext").classList.remove("font-variant-d");

        document.getElementById("variant-a").classList.remove("inactive-changer");
        document.getElementById("variant-b").classList.add("inactive-changer");
        document.getElementById("variant-c").classList.add("inactive-changer");
        document.getElementById("variant-d").classList.add("inactive-changer");
        
    }


    document.getElementById("variant-b").addEventListener("click", fontVariantB);
    function fontVariantB() {
        document.getElementById("stagetext").classList.add("font-variant-b");
        document.getElementById("stagetext").classList.remove("font-variant-a");
        document.getElementById("stagetext").classList.remove("font-variant-c");
        document.getElementById("stagetext").classList.remove("font-variant-d");

        document.getElementById("variant-b").classList.remove("inactive-changer");
        document.getElementById("variant-a").classList.add("inactive-changer");
        document.getElementById("variant-c").classList.add("inactive-changer");
        document.getElementById("variant-d").classList.add("inactive-changer");
    }

    document.getElementById("variant-c").addEventListener("click", fontVariantC);
    function fontVariantC() {
        document.getElementById("stagetext").classList.add("font-variant-c");
        document.getElementById("stagetext").classList.remove("font-variant-a");
        document.getElementById("stagetext").classList.remove("font-variant-b");
        document.getElementById("stagetext").classList.remove("font-variant-d");

        document.getElementById("variant-c").classList.remove("inactive-changer");
        document.getElementById("variant-a").classList.add("inactive-changer");
        document.getElementById("variant-b").classList.add("inactive-changer");
        document.getElementById("variant-d").classList.add("inactive-changer");
    }

    document.getElementById("variant-d").addEventListener("click", fontVariantD);
    function fontVariantD() {
        document.getElementById("stagetext").classList.add("font-variant-d");
        document.getElementById("stagetext").classList.remove("font-variant-a");
        document.getElementById("stagetext").classList.remove("font-variant-b");
        document.getElementById("stagetext").classList.remove("font-variant-c");

        document.getElementById("variant-d").classList.remove("inactive-changer");
        document.getElementById("variant-a").classList.add("inactive-changer");
        document.getElementById("variant-b").classList.add("inactive-changer");
        document.getElementById("variant-c").classList.add("inactive-changer");
    }

</script>


</div>