
<section class="work">
    <span id="projects"></span>
    <div class="container-wrapper inner-work">
        <div class="prj-wrapper">
            <a href="swipe-studio.html" class="prj-cont">
                <div class="prj-img">
                    <div class="prj-dummy"></div>
                    <div class="prj-preview">
                        <img id="swipe-studio-logo" src="assets/img/swipe-studio-logo.svg" alt="swipe-studio-logo">
                    </div>
                </div>
            </a>

            <a href="sauerwein.html" class="prj-cont">
                <div class="prj-img">
                    <div class="prj-dummy"></div>
                    <div class="prj-preview">
                        <img id="sauerwein-logo" src="assets/img/sauerwein-logo.svg" alt="sauerwein-logo">
                    </div>
                </div>
            </a>

            <a href="gemeinschaftsgarten-vechta.html" class="prj-cont">
                <div class="prj-img">
                    <div class="prj-dummy"></div>
                    <div class="prj-preview">
                        <img id="gemeinschaftsgarten-vechta" src="assets/img/gemeinschaftsgarten-vechta.svg" alt="gemeinschaftsgarten-vechta-logo">
                    </div>
                </div>
            </a>

            <a href="extra-butter.html" class="prj-cont">
                <div class="prj-img">
                    <div class="prj-dummy"></div>
                    <div class="prj-preview">
                        <img id="extra-butter" src="assets/img/extra-butter.svg" alt="extra-butter-lettering">
                    </div>
                </div>
            </a>

            <a href="xenon.html" class="prj-cont">
                <div class="prj-img">
                    <div class="prj-dummy"></div>
                    <div class="prj-preview">
                        <img id="xenon" src="assets/img/xenon.svg" alt="xenon-calligraphy">
                    </div>
                </div>
            </a>

            <a href="minimum.html" class="prj-cont-wide">
                <div class="prj-img">
                    <div class="prj-dummy-wide"></div>
                    <div class="prj-preview">
                        <img id="minimum" src="assets/img/minimum.svg" alt="minimum">
                    </div>
                </div>
            </a>

            <!-- <a href="fraktur.html" class="prj-cont">
                <div class="prj-img">
                    <div class="prj-dummy"></div>
                    <div class="prj-preview">
                        <img id="fraktur-calligraphy" src="assets/img/Fraktur.svg" alt="fraktur-calligraphy">
                    </div>
                </div>
            </a> -->

            <a href="iconset.html" class="prj-cont-twothirds">
                <div class="prj-img">
                    <div class="prj-dummy-twothirds"></div>
                    <div class="prj-preview">
                        <img id="iconset2" src="assets/img/iconset.svg" alt="iconset2">
                    </div>
                </div>
            </a>

            <a href="kohledampfer.html" class="prj-cont">
                <div class="prj-img">
                    <div class="prj-dummy"></div>
                    <div class="prj-preview">
                        <img id="kohledampfer-beer" src="assets/img/kohledampfer.svg" alt="kohledampfer-beer">
                    </div>
                </div>
            </a>

            <a href="toad.html" class="prj-cont">
                <div class="prj-img">
                    <div class="prj-dummy"></div>
                    <div class="prj-preview">
                        <img id="toad-illustration" src="assets/img/toad-transparent.png" alt="toad-illustration">
                    </div>
                </div>
            </a>

            <a href="cone.html" class="prj-cont">
                <div class="prj-img">
                    <div class="prj-dummy"></div>
                    <div class="prj-preview">
                        <img id="cone-illustration" src="assets/img/cone-transparent.png" alt="cone-illustration">
                    </div>
                </div>
            </a>

            <a href="shorebird.html" class="prj-cont">
                <div class="prj-img">
                    <div class="prj-dummy"></div>
                    <div class="prj-preview">
                        <img id="bird-illustration" src="assets/img/shorebird-transparent.png" alt="bird-illustration">
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>