
<section class="work">
    <span id="projects"></span>
    <div class="container-wrapper section-content">
        <h2 class="font-inverted">Projects</h2>
        <div class="inner-work">
            <div class="prj-wrapper">

                <!-- SWIPE STUDIO -->
                <a href="swipe-studio.html" class="prj-cont">
                    <div class="prj-img">
                        <div class="overlay">
                            <div class="prj-headline">
                                <span>Swipe Studio</span>
                            </div>
                        </div>
                        <div class="prj-dummy"></div>
                        <div class="prj-preview">
                            <img id="swipe-studio-logo" src="assets/img/projects/swipe-studio-logo.svg" alt="swipe-studio-logo">
                        </div>
                    </div>
                </a>

                <!-- SAUERWEIN -->
                <a href="sauerwein.html" class="prj-cont">
                    <div class="prj-img">
                        <div class="overlay">
                            <div class="prj-headline">
                                <span>Familie Sauerwein</span>
                            </div>
                        </div>
                        <div class="prj-dummy"></div>
                        <div class="prj-preview">
                            <img id="sauerwein-logo" src="assets/img/projects/sauerwein-mockup.png" alt="sauerwein-logo">
                        </div>
                    </div>
                </a> 

                <!-- GEMEINSCHAFTSGARTEN VECHTA -->
                <a href="gemeinschaftsgarten-vechta.html" class="prj-cont">
                    <div class="prj-img">
                        <div class="overlay">
                            <div class="prj-headline">
                                <span>Gemeinschaftsgarten Vechta</span>
                            </div>
                        </div>
                        <div class="prj-dummy"></div>
                        <div class="prj-preview">
                            <img id="gemeinschaftsgarten-vechta" src="assets/img/projects/gemeinschaftsgarten-vechta.svg" alt="gemeinschaftsgarten-vechta-logo">
                        </div>
                    </div>
                </a> 

                <!-- EXTRA-BUTTER -->  
                <a href="extra-butter.html" class="prj-cont">
                    <div class="prj-img">
                        <div class="overlay">
                            <div class="prj-headline">
                                <span>Extra Butter</span>
                            </div>
                        </div>
                        <div class="prj-dummy"></div>
                        <div class="prj-preview">
                            <img id="extra-butter" src="assets/img/projects/extra-butter.svg" alt="extra-butter-lettering">
                        </div>
                    </div>
                </a> 

                <!-- XENON -->
                <a href="xenon.html" class="prj-cont">
                    <div class="prj-img">
                        <div class="overlay">
                            <div class="prj-headline">
                                <span>Xenon</span>
                            </div>
                        </div>
                        <div class="prj-dummy"></div>
                        <div class="prj-preview">
                            <img id="xenon" src="assets/img/projects/xenon.svg" alt="xenon-calligraphy">
                        </div>
                    </div>
                </a> 

                <!-- MINIMUM -->
                <a href="minimum.html" class="prj-cont-wide">
                    <div class="prj-img">
                        <div class="overlay">
                            <div class="prj-headline">
                                <span>Minimum</span>
                            </div>
                        </div>
                        <div class="prj-dummy-wide"></div>
                        <div class="prj-preview">
                            <img id="minimum" src="assets/img/projects/minimum.svg" alt="minimum">
                        </div>
                    </div>
                </a> 

                <!-- ICONSET -->
                <a href="iconset.html" class="prj-cont-twothirds">
                    <div class="prj-img">
                        <div class="overlay">
                            <div class="prj-headline">
                                <span>Iconset</span>
                            </div>
                        </div>
                        <div class="prj-dummy-twothirds"></div>
                        <div class="prj-preview">
                            <img id="iconset2" src="assets/img/projects/iconset.svg" alt="iconset2">
                        </div>
                    </div>
                </a> 

                <!-- KOHLEDAMPFER -->
                <a href="kohledampfer.html" class="prj-cont">
                    <div class="prj-img">
                        <div class="overlay">
                            <div class="prj-headline">
                                <span>Kohledampfer</span>
                            </div>
                        </div>
                        <div class="prj-dummy"></div>
                        <div class="prj-preview">
                            <img id="kohledampfer-beer" src="assets/img/projects/kohledampfer.svg" alt="kohledampfer-beer">
                        </div>
                    </div>
                </a> 

            </div>
        </div>
    </div>
</section>