<section class="work">
        <div class="container-wrapper inner-work" id="work">
            <div class="prj-wrapper">
                
                {% include 01-swipe-studio.html %}



                <a class="prj-cont">
                    <div class="prj-img">
                        <div class="prj-dummy"></div>
                        <div class="prj-preview">
                            <img id="sauerwein-logo" src="../assets/img/sauerwein-logo-inverted.svg" alt="sauerwein-logo">
                        </div>
                    </div>
                    <span class="prj-short-desc">Sauerwein</span>
                </a>

                <a class="prj-cont">
                    <div class="prj-img">
                        <div class="prj-dummy"></div>
                        <div class="prj-preview">
                            <img id="xenon" src="../assets/img/xenon-inverted.svg" alt="">
                        </div>
                    </div>
                    <span class="prj-short-desc">Fraktur</span>
                </a>

                <a class="prj-cont-wide">
                    <div class="prj-img">
                        <div class="prj-dummy-wide"></div>
                        <div class="prj-preview">
                            <img id="minimum" src="../assets/img/minimum-inverted.svg" alt="minimum">
                        </div>
                    </div>
                    <span class="prj-short-desc">Minimum</span>
                </a>

                <a class="prj-cont">
                    <div class="prj-img">
                        <div class="prj-dummy"></div>
                        <div class="prj-preview">
                            <img id="fraktur-calligraphy" src="../assets/img/Fraktur.svg" alt="fraktur-calligraphy">
                        </div>
                    </div>
                    <span class="prj-short-desc">Fraktur</span>
                </a>

                <a class="prj-cont-twothirds">
                    <div class="prj-img">
                        <div class="prj-dummy-twothirds"></div>
                        <div class="prj-preview">
                            <img id="iconset2" src="../assets/img/iconset.svg" alt="iconset2">
                        </div>
                    </div>
                    <span class="prj-short-desc">Iconset</span>
                </a>

                <a class="prj-cont">
                    <div class="prj-img">
                        <div class="prj-dummy"></div>
                        <div class="prj-preview">
                            <img class="prj-img--default-transform" id="kohledampfer-label" src="../assets/img/Kohledampfer.png" alt="kohledampfer-label">
                        </div>
                    </div>
                    <span class="prj-short-desc">Kohledampfer</span>
                </a>

                <a class="prj-cont">
                    <div class="prj-img">
                        <div class="prj-dummy"></div>
                        <div class="prj-preview">
                            <img id="bird-illustration" src="../assets/img/bird-illustration-transparent.png" alt="bird-illustration">
                        </div>
                    </div>
                    <span class="prj-short-desc">Shorebird</span>
                </a>
            </div>
        </div>
</section>