/* Theme / Font-stuff */
/* ============================================================================ */
:root {
    --text-heavy: #000;
    --text-light: #8b8b8b;
    --font-basis: 1.6rem;
}

html {
    font-size: 62.5%;
}

span {
    font-size: 1.6rem
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5 {
    color: var(--text-heavy);
    margin: 0;
    padding: 5px 0;
    /* -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1; */
    -moz-font-feature-settings: "kern"1;
    -o-font-feature-settings: "kern"1;
    font-feature-settings: "kern"1;
    font-kerning: normal;
}

h1 {
    font-size: 8.0rem;
    line-height: 105%;
}
        @media only screen and (max-width: 800px) {
            h1 {
                font-size: 6.0rem;
            }
        }

        /* @media only screen and (max-width: 400px) {
            h1 {
                font-size: 5.0rem;
            }
        } */


h2 {
    font-size: 6.0rem;
    line-height: 110%;
}
        @media only screen and (max-width: 800px) {
            h2 {
                font-size: calc(6.0rem * 0.8);
            }
        }

        @media only screen and (max-width: 500px) {
            h2 {
                font-size: calc(6.0rem * 0.7);
            }
        }


h3 {
    font-size: 4.0rem;
    line-height: 115%;
}
        @media only screen and (max-width: 800px) {
            h3 {
                font-size: calc(4.0rem * 0.8);
            }
        }

h4 {
    font-size: 3.0rem;
    line-height: 120%;
    padding: 3px 0;
}
        @media only screen and (max-width: 800px) {
            h4 {
                font-size: calc(3.0rem * 0.8);
            }
        }

h5 {
    font-size: 2.0rem;
    line-height: 125%;
    padding: 2px 0;
}
        @media only screen and (max-width: 800px) {
            h5 {
                font-size: calc(2.0rem * 0.8);
            }
        }



p {
    font-size: var(--font-basis);
    line-height: 150%;
    margin: 0;
    max-width: 650px;
}

a {
    text-decoration: none;
    color: var(--text-heavy);
    font-size: var(--font-basis);
}

/* a:hover { color: var(--text-heavy);
    } */



ul {
    list-style: none;
}

.active {
    color: #000;
    opacity: 1;
}

.inactive {
    opacity: .4
}

.uppercase {
    text-transform: uppercase;
}


.centered {
    text-align: center;
}



.uppercase {
    text-transform: uppercase;
}

.underline {
    position: relative;
    height: max-content;
    width: fit-content;
}

.underline::before {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    bottom: -2px;
    left: 0;
    transition: width 0.2s;
}

.underline::after {
    content: '';
    position: absolute;
    width: 0%;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    bottom: -2px;
    left: 0;
    transition: width 0.2s;
}

.underline:hover::after {
    width: 100%;
    transition: width 0.2s;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.underline-inverted {
    position: relative;
}

.underline-inverted::before {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    bottom: -2px;
    left: 0;
    transition: width 0.2s;
}

.underline-inverted::after {
    content: '';
    position: absolute;
    width: 0%;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    bottom: -2px;
    left: 0;
    transition: width 0.2s;
}

.underline-inverted:hover::after {
    width: 100%;
    transition: width 0.2s;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}



.font-tests {
    padding-top: 100px!important;
    padding-bottom: 100px!important;
}





/* ABOUT SECTION */

.about-headline {
    font-size: 10rem;
    color: #000;
    line-height: 150%;
}

        @media only screen and (max-width: 900px) {
            .about-intro {
                padding: 0 0 50px 0;
            }
        }

        @media only screen and (max-width: 800px) {
            .about-headline {
                font-size: 12vw;
            }
        }

        @media only screen and (max-width: 500px) {
            .about-headline {
                font-size: 6rem;
            }
        }

        @media only screen and (max-width: 390px) {
            .about-headline {
                font-size: 15vw;
            }
        }




.about p {
    max-width: 650px;
}

        @media only screen and (max-width: 1100px) {
            .about p {
                max-width: 600px;
            }
        }

        @media only screen and (max-width: 1015px) {
            .about p {
                max-width: 530px;
            }
        }

        @media only screen and (max-width: 930px) {
            .about p {
                max-width: 460px;
            }
        }

        @media only screen and (max-width: 900px) {
            .about p {
                max-width: 650px;
            }
        }



/* SCREEN MEMORIES VARIABLE FONT */

@font-face {
    font-family: "screenmemories";
    src: url("fonts/variable-project.ttf");
}

@font-face {
    font-family: "screenmemories-thick";
    src: url("fonts/variant-thick.ttf");
}

@font-face {
    font-family: "screenmemories-points";
    src: url("fonts/variant-points.ttf");
}

@font-face {
    font-family: "screenmemories-keil";
    src: url("fonts/variant-keil.ttf");
}


.screen-memories-container {
    max-width: unset;
}

.screenmemories-base {
    font-family: screenmemories;
    font-size: 200px;
    font-weight: 200;
    line-break: anywhere;
    line-height: 60%;
    transition: .2s ease-in-out;
    font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0; 
    /* text-transform: uppercase; */
}

.screenmemories-base:hover {
    font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0; 
    transition: .2s ease-in-out;
}


.component-explanation {
    display: flex;
    padding: 60px 0;
}

.component-example {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    /* height: 350px; */
    width: 200px;
    justify-content: center;
    text-align: center;
    padding: 75px 0 50px 0;
}

.component-example .screenmemories-base{
    font-size: 450px;
    line-height: 30%;
    padding-top: 25px;
}

.component-example-subline {
    padding: 20px 0;
}


.wght-loop { 
    animation: weight 2s infinite;
}

.form-loop { 
    animation: form 1.5s infinite ;
}

.slnt-loop { 
    animation: slant 2s infinite ;
}

.angl-loop { 
    animation: angle 2.5s infinite ;
}


@keyframes weight {
    0% {font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;}
    50% {font-variation-settings: 'wght' 700, 'FORM' 0 , 'slnt' 0, 'ANGL' 0;}
    100% {font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;}
}

@keyframes form {
    0% {font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;}
    50% {font-variation-settings: 'wght' 0, 'FORM' 800, 'slnt' 0, 'ANGL' 0;}
    100% {font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;}
}

@keyframes slant {
    0% {font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;}
    50% {font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 800, 'ANGL' 0;}
    100% {font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;}
}

@keyframes angle {
    0% {font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;}
    50% {font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 800;}
    100% {font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;}
}


.axis-explanation {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 0;
}

.axis-box {
    padding: 0 40px 10px 0;
}

.axis-example {
    font-size: 495px;
    box-sizing: border-box;
    border-right: 1px solid black;
    line-height: 45%;
    cursor: pointer;
}




/* ===== WEIGHT ===== */

.wght { 
    font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;
    transition: .5s;
}

.wght:hover { 
    font-variation-settings: 'wght' 700, 'FORM' 0, 'slnt' 0, 'ANGL' 0;
    transition: .5s;
}

/* ===== FORM ===== */

.form {
    font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;
}

.form:hover {
    font-variation-settings: 'wght' 0, 'FORM' 800, 'slnt' 0, 'ANGL' 0;
}


/* ===== SLANT ===== */

.slnt {
    font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;
}

.slnt:hover {
    font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 800, 'ANGL' 0;
}


/* ===== ANGLE ===== */

.angl {
    font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;
    transition: 1s;
}

.angl:hover {
    font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 800;
    transition: 1s;
}
  

.charset {
    padding-bottom: 50px;
}
.charset span{
    font-size: 110px;
}



.enter-own-text {
    padding-bottom: 50px;
}

.user-text-area { 
    width: 100%; 
    font-size: 280px;
}

.user-text-area:focus { 
    border: none;
    outline: none;
}

input[type=text], select {
    width: 100%;
    display: inline-block;
    border: 1px solid magenta;
    box-sizing: border-box;
  }

input[type=text]:focus {
    border: none;
    outline: none;
}
  



.component-change {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
.component-icon {
    width: 100px;
    padding: 0 20px;
    opacity: 0.5;
}

.component-icon:hover {
    cursor: pointer;
    opacity: 1.0;

}

.text-stage {
    width: 100%;
    min-height: 500px;
    background-color: #f5f5f5;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.text-stage-axes {
    width: 100%;
    min-height: 500px;
    background-color: #f5f5f5;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.stage-text {
    border: none;
    outline: none;
    padding: 40px;
}

.text-stage .screenmemories-base {
    font-size: 400px;
}

.text-stage-axes .screenmemories-base {
    font-size: 400px;
}


@keyframes weight-and-form {
    0% {font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;}
    50% {font-variation-settings: 'wght' 600, 'FORM' 800 , 'slnt' 0, 'ANGL' 0;}
    100% {font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;}
}


@keyframes all-axes {
    0% {font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;}
    50% {font-variation-settings: 'wght' 700, 'FORM' 800 , 'slnt' 800, 'ANGL' 600;}
    100% {font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;}
}

@keyframes weight-example {
    0% {font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;}
    50% {font-variation-settings: 'wght' 650, 'FORM' 0 , 'slnt' 0, 'ANGL' 0;}
    100% {font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;}
}

@keyframes form-example {
    0% {font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;}
    50% {font-variation-settings: 'wght' 0, 'FORM' 800 , 'slnt' 0, 'ANGL' 0;}
    100% {font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;}
}

@keyframes slant-example {
    0% {font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;}
    50% {font-variation-settings: 'wght' 0, 'FORM' 0 , 'slnt' 800, 'ANGL' 0;}
    100% {font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;}
}

@keyframes angle-example {
    0% {font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;}
    50% {font-variation-settings: 'wght' 0, 'FORM' 0 , 'slnt' 0, 'ANGL' 650;}
    100% {font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;}
}


.weight-and-form-example {
    font-size: 200px;
    animation: weight-and-form 2s infinite;
}

.all-axes-example {
    animation: all-axes 2s infinite;
    font-size: 200px;
}

.weight-example {
    animation: weight-example 2s infinite;
    font-size: 200px;
}

.form-example {
    animation: form-example 2s infinite;
    font-size: 200px;
}

.slant-example {
    animation: slant-example 2s infinite;
    font-size: 200px;
}

.angle-example {
    animation: angle-example 2s infinite;
    font-size: 200px;
}





.component-changer {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    cursor: pointer;
}

.component-changer span {
    font-size: 350px;
    line-height: 10%;
}

.active-changer {
    opacity: 1.0;
}

.inactive-changer {
    opacity: 0.4;
}

.inactive-changer:hover {
    opacity: 1.0;
}


/* Hier font-varianten für changer zuweisen */

#variant-a {
    font-family: screenmemories;
    font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;
}

#variant-b {
    font-family: screenmemories-thick;
    font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;
}

#variant-c {
    font-family: screenmemories-keil;
    font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;
}

#variant-d {
    font-family: screenmemories-points;
    font-variation-settings: 'wght' 0, 'FORM' 0, 'slnt' 0, 'ANGL' 0;
}


/* varianten für Beispieltext */

.font-variant-a {
    font-family: screenmemories;
}

.font-variant-b {
    font-family: screenmemories-thick;
}

.font-variant-c {
    font-family: screenmemories-keil;
}

.font-variant-d {
    font-family: screenmemories-points;
}




.hello {
    font-size: 200px;
}

.article-headline {
    padding: 0;
    margin: 16px 0 24px 0;
}