/* Theme / Font-stuff */
/* ============================================================================ */
:root {
    --text-heavy: #000;
    --text-light: #8b8b8b;
    --font-basis: 1.6rem;
}

html {
    font-size: 62.5%;
}

span {
    font-size: 1.6rem
}

body {
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5 {
    color: var(--text-heavy);
    margin: 0;
    padding: 5px 0;
    /* -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1; */
    -moz-font-feature-settings: "kern"1;
    -o-font-feature-settings: "kern"1;
    font-feature-settings: "kern"1;
    font-kerning: normal;
}

h1 {
    font-size: 8.0rem;
    line-height: 105%;
}
        @media only screen and (max-width: 800px) {
            h1 {
                font-size: 6.0rem;
            }
        }

        /* @media only screen and (max-width: 400px) {
            h1 {
                font-size: 5.0rem;
            }
        } */


h2 {
    font-size: 6.0rem;
    line-height: 110%;
}
        @media only screen and (max-width: 800px) {
            h2 {
                font-size: calc(6.0rem * 0.8);
            }
        }


h3 {
    font-size: 4.0rem;
    line-height: 115%;
}
        @media only screen and (max-width: 800px) {
            h3 {
                font-size: calc(4.0rem * 0.8);
            }
        }

h4 {
    font-size: 3.0rem;
    line-height: 120%;
    padding: 3px 0;
}
        @media only screen and (max-width: 800px) {
            h4 {
                font-size: calc(3.0rem * 0.8);
            }
        }

h5 {
    font-size: 2.0rem;
    line-height: 125%;
    padding: 2px 0;
}
        @media only screen and (max-width: 800px) {
            h5 {
                font-size: calc(2.0rem * 0.8);
            }
        }



p {
    font-size: var(--font-basis);
    line-height: 150%;
    margin: 0;
    max-width: 650px;
}

a {
    text-decoration: none;
    color: var(--text-heavy);
    font-size: var(--font-basis);
}

/* a:hover { color: var(--text-heavy);
    } */



ul {
    list-style: none;
}

.active {
    color: #000;
    opacity: 1;
}

.inactive {
    opacity: .4
}

.uppercase {
    text-transform: uppercase;
}


.centered {
    text-align: center;
}



.uppercase {
    text-transform: uppercase;
}

.underline {
    position: relative;
    height: max-content;
    max-width: fit-content;
}

.underline::before {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    bottom: -2px;
    left: 0;
    transition: width 0.2s;
}

.underline::after {
    content: '';
    position: absolute;
    width: 0%;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    bottom: -2px;
    left: 0;
    transition: width 0.2s;
}

.underline:hover::after {
    width: 100%;
    transition: width 0.2s;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.underline-inverted {
    position: relative;
}

.underline-inverted::before {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    bottom: -2px;
    left: 0;
    transition: width 0.2s;
}

.underline-inverted::after {
    content: '';
    position: absolute;
    width: 0%;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    bottom: -2px;
    left: 0;
    transition: width 0.2s;
}

.underline-inverted:hover::after {
    width: 100%;
    transition: width 0.2s;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}



.font-tests {
    padding-top: 100px!important;
    padding-bottom: 100px!important;
}





/* ABOUT SECTION */

.about-headline {
    font-size: 10rem;
    color: #000;
    line-height: 150%;
}

        @media only screen and (max-width: 900px) {
            .about-intro {
                padding: 0 0 50px 0;
            }
        }

        @media only screen and (max-width: 800px) {
            .about-headline {
                font-size: 12vw;
            }
        }

        @media only screen and (max-width: 500px) {
            .about-headline {
                font-size: 6rem;
            }
        }

        @media only screen and (max-width: 390px) {
            .about-headline {
                font-size: 15vw;
            }
        }




.about p {
    max-width: 650px;
}

        @media only screen and (max-width: 1100px) {
            .about p {
                max-width: 600px;
            }
        }

        @media only screen and (max-width: 1015px) {
            .about p {
                max-width: 530px;
            }
        }

        @media only screen and (max-width: 930px) {
            .about p {
                max-width: 460px;
            }
        }

        @media only screen and (max-width: 900px) {
            .about p {
                max-width: 650px;
            }
        }