/* General styles */
/* ============================================================================ */

@import url(fonts.css);
@import url(transforms.css);

:root {
    --nav-height: 84px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 0 0; 
    overflow-x: hidden;
    position: relative;
}

.uppercase {
    text-transform: uppercase;
}

.underline {
    position: relative;
    height: max-content;
    }

    .underline::before {
            content: '';
            position: absolute;
            width: 100%;
            border-bottom: 1px solid rgba(0, 0, 0, .2);
            bottom: -2px;
            left: 0;
            transition: width 0.2s;
        }

    .underline::after {
        content: '';
        position: absolute;
        width: 0%;
        border-bottom: 1px solid rgba(0, 0, 0, 1);
        bottom: -2px;
        left: 0;
        transition: width 0.2s;
    }

    .underline:hover::after {
        width: 100%;
        transition: width 0.2s;
        border-bottom: 1px solid rgba(0, 0, 0, 1);
    }

.underline-inverted {
    position: relative;
    }

    .underline-inverted::before {
            content: '';
            position: absolute;
            width: 100%;
            border-bottom: 1px solid rgba(255, 255, 255, .4);
            bottom: -2px;
            left: 0;
            transition: width 0.2s;
        }

    .underline-inverted::after {
        content: '';
        position: absolute;
        width: 0%;
        border-bottom: 1px solid rgba(255, 255, 255, 1);
        bottom: -2px;
        left: 0;
        transition: width 0.2s;
    }

    .underline-inverted:hover::after {
        width: 100%;
        transition: width 0.2s;
        border-bottom: 1px solid rgba(255, 255, 255, 1);
    }
   
    
    
/* Container Styles */
/* ============================================================================ */

.container-wrapper {
    max-width: 1100px;
    padding: 0 2%;
    margin: 0 auto;
    }
    @media only screen and (max-width: 800px) {
        .container-wrapper {
            padding-left: 3%;
            padding-right: 3%;
        }
    }

    @media only screen and (max-width: 400px) {
        
        .container-wrapper {
            padding-left: 4%;
            padding-right: 4%;
        }
    }

/* Nav styles */
/* ============================================================================ */

.main-nav {
    z-index: 3;
    width: 100%;
    background-color: #fff;
    position: fixed;
    }
    @media only screen and (max-width: 450px) {
        .main-nav { 
            position: fixed;
        }
    }

.main-nav__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--nav-height);
}

.main-nav__ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    }
    
    @media only screen and (max-width: 450px) {
        .main-nav__ul {
            position: absolute;
            top: 100vh;
            left: 0;
            right: 0;
            display: flex; 
            flex-direction: column;
            height: 100vh;
            background-color: #fff;
            transition: all ease-in-out .2s;
        }
    }

.project-nav__ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    }

.project-nav__ul a {
    display: block;
    padding: 33px 0 33px 20px;
    color: var(--text-heavy);
}


.main-nav__ul a {
    display: block;
    padding: 33px 0 33px 20px;
    color: var(--text-heavy);

    }
    @media only screen and (max-width: 450px) {
        .main-nav__ul a {
            display: block;
            padding: 20px 0;
            text-align: center;
        }
    }

.main-nav__ul a:hover {
    color: var(--text-heavy);
}

.main-nav__logo {
    height: 55px;
}

.prj-nav__logo {
    height: 25px;
    padding-left: 10px;    
}

.prj-nav-back {
    display: flex;
}

#main-nav__logo-link {
    height: 55px;
}

#contact-button {
    max-height: 44px;
    align-self: center;
    padding: 12px 20px;
    color: #fff;
    background-color: #000;
    border-radius: 6px;
    margin-left: 20px;
    font-weight: bold;
}
         @media only screen and (max-width: 450px) {
            #contact-button {
                margin: 15px 0;
            }
         }


#contact-button:hover {
    animation-name: button;
    animation-duration: .3s;
}

@keyframes button {
    0% { transform: scale(1.0); }
    50% { transform: scale(1.03); }
    100% { transform: scale(1.0); }
}


/* Burger styles */
/* ============================================================================ */

#main-nav__trigger {
    position: absolute;
    right: 28px;
    width: 40px;
    height: 40px;
    z-index: 2;
    display: none;
    cursor: pointer;
    opacity: 0;
    }
    
    @media only screen and (max-width: 450px) {
        #main-nav__trigger {
            display: block;
        }

        #main-nav__trigger:checked ~ #main-nav__ul {
            display: flex;
            top: var(--nav-height);
         }
    }

.main-nav__inner .burger {
    position: absolute;  
    top: 46px;
    right: 30px;

    display: none;
    width: 34px;
    height: 4px;
    background-color: var(--text-heavy);

    z-index: 1;
   
    transform-origin: 4px 0px;
    transition: 
        transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
    }
    .main-nav__inner .burger:nth-child(3) { top: 28px; }
    .main-nav__inner .burger:nth-child(4) { top: 37px; }

    @media only screen and (max-width: 450px) {
        .main-nav__inner .burger {
            display: block;
        }
    }

    #main-nav__trigger:checked ~ .burger {
        opacity: 1;
        transform: rotate(45deg) translate(4px, -3px);
    }
    
    #main-nav__trigger:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    
    #main-nav__trigger:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, 2px);
    }


/* About styles */ 
/* ============================================================================ */

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* min-height: calc(100vh - 84px); */
    min-height: 100vh;
    transition: all ease .2s;
    }
    @media only screen and (max-width: 450px) {
        .about {
            min-height: 100vh;
        }
    }
    
.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 100px 0 60px 0;
}
        @media only screen and (max-width: 915px) {
            .about-container {
                flex-direction: column;
                padding: 100px 0 25px 0;
            }
        }

.about-intro {
    width: 100%;
}

.about-intro:hover {
    transition: all ease .2s;
}

.about-headline {
    font-size: 10rem; 
    color: #000;
    }

    @media only screen and (max-width: 900px) {
        .about-intro {
            padding: 0 0 50px 0;
        }
    }

    @media only screen and (max-width: 800px) {
        .about-headline { 
            font-size: 12vw;
        }
    }
    
    @media only screen and (max-width: 500px) {
        .about-headline { 
            font-size: 6rem;
        }
    }

    @media only screen and (max-width: 390px) {
        .about-headline { 
            font-size: 15vw;
        }
    }

.about p {
    max-width: 650px;
}

        @media only screen and (max-width: 1100px) {
            .about p { 
                max-width: 600px;
            }
        }

        @media only screen and (max-width: 1015px) {
            .about p { 
                max-width: 530px;
            }
        }
        
        @media only screen and (max-width: 930px) {
            .about p { 
                max-width: 460px;
            }
        }

        @media only screen and (max-width: 900px) {
            .about p { 
                max-width: 650px;
            }
        }


.about__contact-links {
    margin-right: 10px;
}

.about-img {
    height: auto;
    width: 450px;
    -webkit-filter: drop-shadow(3px 4px 4px rgba(0,0,0,0.4));
    position: absolute;
    right: -50px;
    z-index: -1;
}

        @media only screen and (max-width: 900px) {
            .about-img {
                position: unset;
            }
        }

        @media only screen and (max-width: 475px) {
            .about-img {
                position: unset;
                width: 95vw;
            }
        }




.more-about-me {
    width: 100%;
}
        @media only screen and (max-width: 900px) {
            .more-about-me  {
                text-align: center;
                padding-bottom: 80px;
            }
        }

        @media only screen and (max-width: 900px) {
            .more-about-me  {
                text-align: center;
                padding-bottom: 80px;
            }
        }


.more-about-me:hover {
    cursor: pointer;
}


/* Work styles */
/* ============================================================================ */

.work {
    background-color: #000; 
    position: relative;
    }

    @media only screen and (max-width: 800px) {
        .work { 
               padding-top: 0;
            padding-bottom: 0;
        }
    }
    @media only screen and (max-width: 400px) {
        .work {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

#projects {
    position: absolute;
    top: -84px;
}

#work-headline {
    display: none;
}


.inner-work {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 3%;
    border-top: 1px solid var(--grey);
    min-height: 100vh; }

    @media only screen and (max-width: 400px) {
        .inner-work {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

.prj-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: -2%;
    width: 102%; 
    z-index: 1;
    }
    
    @media only screen and (max-width: 800px) {
        .prj-wrapper {
            width: 103%;
            margin-left: -3%;
        }
    }
    @media only screen and (max-width: 400px) {
        .prj-wrapper {
            width: 104%;
            margin-left: -6%;
            /* padding-top: var(--nav-height); */
        }
    }

.prj-img {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid #8b8b8b; */
}

.prj-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 2% 0 0 2%;
    width: calc(30% - 1.2em);
    transition: all ease .5s;
    cursor: pointer; }

    .prj-cont:hover {
        /* transform: scale(1.02); */
        transition: all ease .3s;
    }
    
    @media only screen and (max-width: 800px) {
        .prj-cont {
            width: calc(50% - 2em);
            margin: 3% 0 0 3%;
        }
    }
    @media only screen and (max-width: 400px) {
        .prj-cont {
            width: 100%;
            margin: 6% 0 0 6%;
        }
    }



.prj-dummy {
    margin-top: 100%; /* 1:1 aspect ratio */ }
    

.prj-cont-wide {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2% 0 0 2%;
    /* border: 1px solid #8b8b8b; */
    transition: all ease .5s; }
    
    @media only screen and (max-width: 800px) {
        .prj-cont-wide {
            width: 100%;
            margin: 3% 0 0 3%;
        }
    }
    @media only screen and (max-width: 400px) {
        .prj-cont-wide {
            width: 100%;
            margin: 6% 0 0 6%;
        }
    }


.prj-dummy-wide {
    margin-top: 32%; /* 3:1 aspect ratio minus some margin*/
}

    @media only screen and (max-width: 800px) {
        .prj-dummy-wide {
            margin-top: calc(50% - 2%);
        }
    }
    @media only screen and (max-width: 400px) {
        .prj-dummy-wide {
            margin-top: 100%;
        }
    }


.prj-cont-twothirds {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 64.6%;
    margin: 2% 0 0 2%;
    transition: all ease .5s; 
}

    @media only screen and (max-width: 800px) {
        .prj-cont-twothirds  {
            width: 100%;
            margin: 3% 0 0 3%;
        }
    }

    @media only screen and (max-width: 400px) {
        .prj-cont-twothirds {
            width: 100%;
            margin: 6% 0 0 6%;
        }
    }


.prj-dummy-twothirds {
    margin-top: 48.55%;
}

    @media only screen and (max-width: 800px) {
        .prj-dummy-twothirds {
            margin-top: calc(50% - 2%);
        }
    }

    @media only screen and (max-width: 400px) {
        .prj-dummy-twothirds {
            margin-top: 100%;
        }
    }




.prj-preview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
}

.white-bg {
    background-color: #fff;
}

.prj-preview img {
    width: 100%;
    transition: all ease .3s;
}



@import url(transforms.css);

/* Imprint */
/* ============================================================================ */

.imprint {
    display: flex;
    justify-content: center;
    padding: 30px 0 30px;
    background-color: #fff;
}

.imprint a {
    color: rgba(0, 0, 0, .5);
}

.imprint a:hover {
    color: rgba(0, 0, 0, 1);
}

.imprint-content {
    margin-top: 150px;
    min-height: 100vh;
}

.imprint-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - var(--nav-height));

}


/* Prj-page */
/* ============================================================================ */


.prj-details {
    padding-bottom: 84px;
    min-height: 100vh;
    }

    @media only screen and (max-width: 800px) {
        .prj-details {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
    
    @media only screen and (max-width: 400px) {
        .prj-details {
            padding-top: 95px;
        }
    }
    
    @media only screen and (max-width: 600px) {
        .prj-details-intro {
            display: flex;
            flex-direction: column;
        }
    }
    @media only screen and (max-width: 400px) {}

.prj-details-intro p {
    max-width: 700px;
    margin-top: 0;
}

.intro-img {
    float: left;
    box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.3);
    margin: 20px 50px 25px 0;
    min-width: 400px;
    z-index: -1;
    }

    @media only screen and (max-width: 700px) {
        .intro-img {
            width: 100%;
            margin: 0 0 25px 0;
        }
    }

    @media only screen and (max-width: 400px) {
        .intro-img {
            min-width: 100%;
        }
    }

.intro-img-alternative {
    width: 100%;
    margin: 0 0 60px 0;
}

.prj-desc-title, .prj-desc-copy { color: var(--text-heavy); }

.prj-desc-title { 
    font-size: 10rem; 
    }
    
    @media only screen and (max-width: 1140px) {
        .prj-desc-title {
            font-size: 8.5vw;
        }
    }

    @media only screen and (max-width: 800px) {
        .prj-desc-title {
            font-size: 5.4rem;
            word-break: break-word;
            hyphens: auto;
        }
    }

.prj-desc-subline { 
    color: var(--text-light);
    margin: 0px 0 20px 0;
}

.prj-img-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 50px;
}

.additional-img {
    display: flex;
    flex-direction: column;
}

.additional-img img {
    width: 100%;
}

.additional-img span {
    padding: 10px 0 30px 0;
    color: #8b8b8b;
    font-size: var(--font-basis);
}

.divider {
    color: #8b8b8b;
    padding: 0 15px;
}



/* Lettering */
/* ============================================================================ */

.lettering {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

#lettering {
    position: absolute;
    top: -83px;
}

.lettering-content {
    padding: 50px 0;
} 

.lettering-content p {
    max-width: 650px;
}


/* 404 */
/* ============================================================================ */

.error-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}
.error-message {
    text-align: center;
}

.error-message p{
    margin: 0 auto;
    max-width: 700px;
}

.hide { display: none; }



/* CONTACT */
/* ============================================================================ */


/* .contact-container {
    padding: 100px 0 25px 0;
} */

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 120px 0;
}



.contact p {
    max-width: 650px;
}

.contact ul {
    list-style: disc;
    font-size: 1.6rem;
    line-height: 150%;
}

#contact-page-button {
    max-height: 44px;
    padding: 12px 20px;
    color: #fff;
    background-color: #000;
    border-radius: 6px;
    font-weight: bold;
    width: 94px;
}