/* General styles */
/* ============================================================================ */

@import url(fonts.css);
@import url(transforms.css);

:root {
    --nav-height: 84px;
    --active-indicator: url(img/active-indicators/active-indicator-4.svg);

  /* gradient for the border */
  --tag-gradient: linear-gradient(90deg,
      #ff5b73 0%,
      #f6b18f 20%,
      #62c8ff 50%,
      #8a6bff 80%,
      #e64cff 100%);
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 0 0;
    overflow-x: hidden;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    margin-top: 100px;
    flex-grow: 1;
}

@media only screen and (max-width: 800px) {
    main {
        margin-top: 80px;
    }
}



/* Container Styles */
/* ============================================================================ */

.container-wrapper {
    width: 100%;
    max-width: 1800px;
    padding: 0 4rem;
    margin: 0 auto;
    /* flex-grow: 1; */
}

        @media only screen and (max-width: 1200px) {
            .container-wrapper {
                padding: 0 2rem;
            }
        }



        @media only screen and (max-width: 800px) {
            .container-wrapper {
                padding: 0 1.2rem;
            }
        }

.nav-padding{
    padding-top: 12rem;
}
        
/* ======== Navigation Base ======== */
.main-nav {
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 10;
  }
  
  .main-nav__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--nav-height, 72px);
  }
  
  .main-nav__logo-link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 16px;
    gap: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
  }


  .main-nav__logo-link p{
    white-space: nowrap;
  }

  .main-nav__logo {
    height: 55px;
  }
  
  .main-nav__list {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
    margin-right: -12px;
  }
  
  .main-nav__list li {
    width: 100%;
  }

  .main-nav__list li a {
    padding: 24px 12px;
    color: var(--text-heavy);
    text-decoration: none;
    display: block;
  }
  
  .main-nav__list li a:hover {
    color: var(--text-heavy);
  }

  .nav-link.active {
    position: relative;
  }

  .nav-link.active::before {
    border-bottom: none;
  }

  .nav-link.active::after {
    border-bottom: none;
    content: var(--active-indicator);
    display: inline-block;
    position: absolute;
    bottom: -16px;
    left: 50%; /* Move the SVG to the center of the parent */
    transform: translateX(-50%); /* Center the SVG horizontally */
}

  
  /* ======== Burger Button ======== */
  .burger-button {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    width: 60px;
    height: 60px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 20;
    padding: 0;
    border-radius: 0;
  }
  
  .burger-line {
    width: 34px;
    height: 4px;
    background: var(--text-heavy);
    /* border-radius: 2px; */
    transition: all 0.3s ease;
  }

  .burger-button.open .burger-line{
    width: 38px;
  }
  
  /* Animation: to X */
  .burger-button.open .burger-line:nth-child(1) {
    transform: rotate(45deg) translate(7px, 7px);
  }
  .burger-button.open .burger-line:nth-child(2) {
    opacity: 0;
  }
  .burger-button.open .burger-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
  }
  
  /* ======== Mobile Nav ======== */
  @media (max-width: 800px) {
    .burger-button {
      display: flex;
    }
  
    .main-nav__list {
      position: absolute;
      top: var(--nav-height, 72px);
      left: 0;
      right: 0;
      background: #fff;
      flex-direction: column;
      align-items: center;
      height: 0vh;
      overflow: hidden;
      transition: all 0.2s ease;
      margin: 0;
    }
  
    .main-nav__list.open {
        max-height: unset;
        height: 100vh;
        padding-top: 6px;
    }
  
    .main-nav__list li a {
      padding: 0px 0;
      text-align: center;
      transition: all 0.2s ease;
    }
  }

  .main-nav__list.open li a {
    padding: 24px 0;
    text-align: center;
  }
  

/* PROJECT NAV */

.prj-nav-back {
    display: flex;
  flex-direction: row;
  width: auto;
  justify-content: center;
  align-items: center;
  gap:
1.2rem;
}

.prj-nav__logo{
    width: 40px;
}

.project-nav{
    position: sticky;
  background-color: white;
  top: 0;
}

.project-nav__ul{
    padding:0;
  display: flex;
  gap: 1.6rem;
}

.breadcrumb {
    opacity: 0.5;
    display: flex;
    gap: 1.6rem;
    padding: 16px 0;
    text-transform: lowercase;
}

/* About styles */
/* ============================================================================ */

.about {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* min-height: calc(100vh - 84px); */
    /* min-height: 100vh; */
    transition: all ease .2s;
    background-color: #202020;
    color: #fff;
    border-radius: 8px 8px 0 0;
}

        @media only screen and (max-width: 450px) {
            .about {
                min-height: 100vh;
            }
        }

.about-container {
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    padding-bottom: 80px;
    gap: 3.2rem;
    width: 100%;
}
        
.about-content {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    max-width: 900px;
}

.about p{
    hyphens: auto;
    margin-bottom: 1.2rem;
  }

.about-intro {
    width: 100%;
}

.about-intro p{
    hyphens: auto;
  }


.about-intro:hover {
    transition: all ease .2s;
}


.about__contact-links {
    margin-right: 10px;
}

.about-img {
    height: auto;
    width: 410px;
    filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.4));
    position: absolute;
    right: -50px;
    z-index: -1;
}

        @media only screen and (max-width: 900px) {
            .about-img {
                position: unset;
            }
        }

        @media only screen and (max-width: 475px) {
            .about-img {
                position: unset;
                width: 95vw;
            }
        }




.more-about-me {
    width: 100%;
}

        @media only screen and (max-width: 900px) {
            .more-about-me {
                text-align: center;
                padding-bottom: 80px;
            }
        }

        @media only screen and (max-width: 900px) {
            .more-about-me {
                text-align: center;
                padding-bottom: 80px;
            }
        }


.more-about-me:hover {
    cursor: pointer;
}

/* ABOUT PAGE */
/* ============================================================================ */

.about-wrapper {
    max-width: 1400px;
  display: flex;
  flex-direction: column;
  gap:8rem;
  margin-bottom: 6rem;
}

.about-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 10rem;
}

.about-header h1{
    font-size: 10rem;    
}

.text-array {
    display: flex;
    width: auto;
    white-space: nowrap;
    font-size: 1.5rem;
    position: relative;
    transform: translateX(0%); /* Start from the left */
}

.text-item {
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: black;
    font-weight: 300;
    font-size: 7rem;
    opacity: 0.6;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: #fff;
    letter-spacing: -2.9px;
}

@keyframes right-to-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-400%);
    }
}

.text-array {
    animation: right-to-left 40s linear infinite;
}


.about-intro {
    width: 100%;
  display: flex;
  flex-direction: row;
  gap:60px;
  justify-content: center;
  align-items: center;
}

.about-intro img{
    max-height: 600px;
    align-self: flex-start;
}

.about-intro h2 {
    font-size: 3rem;

}

.about-intro a{
    text-decoration: underline;
}

.about-intro p{
    max-width: unset;
}


.about-download{
    display: flex;
    justify-content: center;
}


#download-button {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    width: 100%;
    padding: 24px;
    border-radius: 8px;
}


  .download-icon {
    width: 24px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* gap: 0.8rem; */
    align-items: center;
    
  }
  
  #arrow {
    transform: translateY(-4px);
    transition: opacity 0.3s ease, width 0.3s ease, transform 0.3s ease;
  }

  .about-download .button:hover #arrow,
  .about-download .button:focus #arrow {
    transform: translateY(1px);
    transition: opacity 0.3s ease, width 0.3s ease, transform 0.3s ease;
  }
  



.about-chapter {
    margin-bottom: 8rem;
    padding-top: 2.4rem;
    border-top: 1px solid lightgray;
    display: flex;
  flex-direction: column;
  gap:
4rem;

}

.about-chapter-firstcolumn{
    text-transform: uppercase;
    min-width: 200px;
    max-width: 200px;
}

#experience ul {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 0;
}

#experience li {
    display: flex;
    flex-direction: row;
    gap: 8rem;
}

/* #experience span{
    min-width: 150px;
} */

#experience b{
    font-weight: 600;
}


.expertise-item{
    display: flex;
    flex-direction: column;
    gap:2.4rem;
}


.testimonial-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 2.4rem;
    flex-wrap: wrap;
}

.testimonial-item{
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 2.4rem;
    gap: 1.6rem;
    justify-content: space-between;
    flex-grow: 1;
}

.testimonial-item span{
    opacity: 0.6;
    
}


/* RESPONSIVE */


@media only screen and (max-width: 800px) {
 
    .about-wrapper{
        gap: 2rem;
    }

    .about-header{
        margin-top: 4rem;
    margin-bottom: 6rem;
    }
    
    .about-header h1{
        font-size: 7rem;
    }

    .text-item{
        font-size: 6rem;
        letter-spacing: -1.5px;
    }

    .about-intro{
        flex-direction: column;
    }

    .about-intro img{
        width: 100%;
        max-height: unset;
    }

    


}


@media only screen and (max-width: 800px) {
    @keyframes right-to-left {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-1300%);
        }
    }

    .text-array {
        animation: right-to-left 50s linear infinite;
    }
}

@media only screen and (max-width: 500px) {
    .about-header h1{
        font-size: 4.8rem;
    }

    .text-item{
        font-size: 4rem;
        letter-spacing: -0.8px;
        -webkit-text-stroke-width: 1px;
    }
}





/* Work styles */
/* ============================================================================ */

.work {
    background-color: #000;
    position: relative;
}

        @media only screen and (max-width: 800px) {
            .work {
                padding-top: 0;
                padding-bottom: 0;
            }
        }

        @media only screen and (max-width: 400px) {
            .work {
                padding-top: 0;
                padding-bottom: 0;
            }
        }

#projects {
    position: absolute;
    top: -84px;
}

#work-headline {
    display: none;
}


.inner-work {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 2%;
}

        @media only screen and (max-width: 800px) {
            .inner-work {
                padding-bottom: 3%;
            }
        }

        @media only screen and (max-width: 400px) {
            .inner-work {
                padding-bottom: 5%;
            }
        }

.prj-wrapper, .lettering-gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: -2%;
    width: 102%;
    z-index: 1;
    padding-bottom: 4rem;
}

        @media only screen and (max-width: 800px) {
            .prj-wrapper, .lettering-gallery-wrapper {
                width: 103%;
                margin-left: -3%;
            }
        }

        @media only screen and (max-width: 400px) {
            .prj-wrapper {
                width: 104%;
                margin-left: -6%;
                /* padding-top: var(--nav-height); */
            }
        }

.prj-img {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.prj-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 2% 0 0 2%;
    width: calc(30% - 1.2em);
    transition: all ease .5s;
    cursor: pointer;
}

.prj-cont:hover, .prj-cont:focus {
    /* transform: scale(1.02); */
    transition: all ease .3s;
}

        @media only screen and (max-width: 800px) {
            .prj-cont {
                width: calc(50% - 2em);
                margin: 3% 0 0 3%;
            }
        }

        @media only screen and (max-width: 400px) {
            .prj-cont {
                width: 100%;
                margin: 6% 0 0 6%;
            }
        }



.prj-dummy, .preview-dummy {
    margin-top: 100%;
    /* 1:1 aspect ratio */
}


.prj-cont-wide {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 2% 0 0 2%;
    transition: all ease .5s;
}

        @media only screen and (max-width: 800px) {
            .prj-cont-wide {
                width: 100%;
                margin: 3% 0 0 3%;
            }
        }

        @media only screen and (max-width: 400px) {
            .prj-cont-wide {
                width: 100%;
                margin: 6% 0 0 6%;
            }
        }


.prj-dummy-wide {
    margin-top: 32%;
    /* 3:1 aspect ratio minus some margin*/
}

        @media only screen and (max-width: 800px) {
            .prj-dummy-wide {
                margin-top: calc(50% - 2%);
            }
        }

        @media only screen and (max-width: 400px) {
            .prj-dummy-wide {
                margin-top: 100%;
            }
        }


.prj-cont-twothirds {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 64.6%;
    margin: 2% 0 0 2%;
    transition: all ease .5s;
}

        @media only screen and (max-width: 800px) {
            .prj-cont-twothirds {
                width: 100%;
                margin: 3% 0 0 3%;
            }
        }

        @media only screen and (max-width: 400px) {
            .prj-cont-twothirds {
                width: 100%;
                margin: 6% 0 0 6%;
            }
        }


.prj-dummy-twothirds {
    margin-top: 48.55%;
}

        @media only screen and (max-width: 800px) {
            .prj-dummy-twothirds {
                margin-top: calc(50% - 2%);
            }
        }

        @media only screen and (max-width: 400px) {
            .prj-dummy-twothirds {
                margin-top: 100%;
            }
        }




.prj-preview, .lettering-gallery-preview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
}

.white-bg {
    background-color: #fff;
}

.prj-preview img {
    width: 100%;
    transition: all ease .3s;
}



/* NEW STYLES 2025  */

.work-landing{
    padding-bottom: 4rem;
}

.projects-container {
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
    padding: 2.4rem 0;
    /* height: 80vh;
    max-height: 850px; */
}

.project-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    /* height: 100%; */
    border-radius: 8px;
    background-color: lightgrey;
    padding: 3.2rem;
    transform: scale(1.0); 
    transition: .15s ease all;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    aspect-ratio: 4/5;
}

.project-card::before{
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent 60%);
    z-index: 1;
    pointer-events: none;
}

.project-card::after{
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
    z-index: 0;
}

.project-card:hover::after,
.project-card:focus::after {
    transform: scale(1.015);
}

.project-card .button{
    z-index: 2;
}


.project-card:hover{
    transition: .15s ease all;
}


@media only screen and (max-width: 1200px) {
    .project-card {
        padding: 1.8rem;
    }

    .work-landing{
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 800px) {

    .projects-container {
        flex-direction: column;
        gap: 1.2rem;
    }

    .about-content{
        flex-direction: column;
        gap: 0;
    }

    .project-card{
        padding: 1.6rem;
        aspect-ratio: 3/2;
    }
}

#digital-design::after{
    background-image: url(img/category-thumbs/digital-design-4-5.jpg);
}

#identity::after{
    background-image: url(img/category-thumbs/identity-4-5.jpg);
}


#handcraft::after{
    background-image: url(img/category-thumbs/handcraft-4-5.jpg);
}

@media only screen and (max-width: 800px) {
    #digital-design::after{
        background-image: url(img/category-thumbs/digital-design-3-2.jpg);
    }    

    #identity::after{
        background-image: url(img/category-thumbs/identity-3-2.jpg);
    }   

    #handcraft::after{
        background-image: url(img/category-thumbs/handcraft-3-2.jpg);
    }   

}
  
.bg-image-container {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.bg-image {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.bg-image.visible {
  opacity: 1;
}

.project-tag {
  position: relative;
  z-index: 1;
}


.hero-landing{
    display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;
  gap: 4rem;

}

.hero-title {
    font-size: 4rem;
    text-align: center;
    align-items: center;
    hyphens: none;
}

.skill-tags{
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.6rem 1.2rem;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
}

.skill-tags .tag{
  font-weight: 500;
  text-transform: uppercase;

  /* gradient “outline”: two backgrounds + transparent border */
  padding: 1.2rem 1.6rem;
  border-radius: 100px;
  border: 2px solid transparent;
  background:
    linear-gradient(#fff, #fff) padding-box,
    var(--tag-gradient) border-box;        
}

@media only screen and (max-width: 800px) {
    .hero-title{font-size: 3.2rem;}

    .skill-tags{
        gap: 0.8rem 1.2rem;
    }

    .skill-tags .tag{
    padding: 0.8rem 1.2rem;
}
}

/* Footer */
/* ============================================================================ */
.footer-light {
    display: flex;
    justify-content: center;
    padding: 32px 0;
    background-color: #fff;
}

.footer-info {
    color: gray;
}

.footer-info a {
    color: gray;
}

.footer-info a:hover {
    color: rgba(0, 0, 0, 1);
}

.footer-dark {
    display: flex;
    justify-content: center;
    padding: 30px 0 30px;
    background-color: #000;
    color: rgba(255, 255, 255, .5);
}

.footer-dark a {
    color: rgba(255, 255, 255, .5);
}

.footer-dark a:hover {
    color: rgba(255, 255, 255, 1);
}


.footer-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    margin-left: -12px;

}

.footer-nav a{
    display: block;
    padding: 16px 12px;
    color: var(--text-heavy);
}

footer ul {
    display: flex;
    flex-direction: row;
    padding: 0;
}


.dark .footer-light{
    background-color: #000;
    color: #fff;
    border-radius: 8px 8px 0 0;
}

.dark .footer-light a, 
.dark .footer-light span{
    color: #fff;
}

.dark .underline::before {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  
.dark .underline::after {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
  }


/* Imprint */
/* ============================================================================ */

.imprint-content {
    margin-top: 150px;
    min-height: 100vh;
}

.imprint-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - var(--nav-height));

}

/* Linklist */
/* ============================================================================ */

.linklist-cluster {
    margin: 30px 0;
    width: max-content;
}

.linklist-item {
    margin: 16px 0;
}

.linklist-item p {
    display: inline-block;
    margin: 0;
}

.linklist-item a {
    display: flex;
    align-items: center;
    margin: 0 10px 0 0;
}

.linklist-icon {
    width: 30px;
    margin-right: 16px;
    overflow: hidden;
}

/* Prj-page */
/* ============================================================================ */


.prj-details {
    padding-bottom: 84px;
    padding-top: 120px;
    min-height: 100vh;
    padding-top: 120px;
}

        @media only screen and (max-width: 800px) {
            .prj-details {
                padding-top: 120px;
                padding-bottom: 0;
            }
        }

        @media only screen and (max-width: 400px) {
            .prj-details {
                padding-top: 95px;
            }
        }

        @media only screen and (max-width: 600px) {
            .prj-details-intro {
                display: flex;
                flex-direction: column;
            }
        }

        @media only screen and (max-width: 400px) {
            .prj-details-intro p {
                max-width: 700px;
                margin-top: 0;
            }

            .intro-img {
                float: left;
                box-shadow: 0px 0px 12px -3px rgba(0, 0, 0, 0.3);
                margin: 20px 50px 25px 0;
                min-width: 400px;
                z-index: -1;
            }
        }

        @media only screen and (max-width: 700px) {
            .intro-img {
                width: 100%;
                margin: 0 0 25px 0;
            }
        }

        @media only screen and (max-width: 400px) {
            .intro-img {
                min-width: 100%;
            }
        }

.stage-img {
    width: 100%;
    /* margin: 0 0 10px 0; */
}

.prj-desc-title, .prj-desc-copy {
    color: var(--text-heavy);
}

.prj-desc-title {
    font-size: 10rem;
}

        @media only screen and (max-width: 1140px) {
            .prj-desc-title {
                font-size: 8.5vw;
            }
        }

        @media only screen and (max-width: 800px) {
            .prj-desc-title {
                font-size: 5.4rem;
                word-break: break-word;
                hyphens: auto;
            }
        }

.project-category {
    color: var(--text-light);
    margin: 0px 0 20px 0;
}

.prj-img-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 50px;
}

.additional-img {
    display: flex;
    flex-direction: column;
    margin: 60px 0 40px 0;
    border-radius: 8px;
    overflow: hidden;
}

    @media only screen and (max-width: 800px) {
        .additional-img {
            flex-direction: column;
            margin: 50px 0 30px 0;
        }
    }
    
    @media only screen and (max-width: 600px) {
        .additional-img {
            flex-direction: column;
            margin: 40px 0 25px 0
        }
    }

    @media only screen and (max-width: 500px) {
        .additional-img {
            flex-direction: column;
            margin: 30px 0 20px 0
        }
    }



.additional-img img {
    width: 100%;
}

.additional-img span {
    padding: 10px 0 0 0;
    color: #8b8b8b;
    font-size: var(--font-basis);
}

.interactive-container-wrapper {
    margin: 60px 0 40px 0;
}

.article-interactive-container {
    display: flex;
    flex-direction: column;
    padding-top: 56%;
    position: relative;       
    margin-bottom: 10px;
}

.interactive-container-subline {
    color: #8b8b8b;
    font-size: var(--font-basis);
}


.component-explanation {
    display: flex;
    width: 100%;
    /* padding-top: 56.25%; */
    background-color: #f5f5f5;
    height: 100%;
    position: absolute;
    top:0;
}

.component-example {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-right: 1px solid #dddd;
    width: 25%;
    justify-content: center;
    text-align: center;
    background-color: #f5f5f5;
}

.component-example-glyph {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.component-example .screenmemories-base{
    font-size: 450px;
    line-height: 30%;
    padding-top: 25px;
}

.divider {
    color: #8b8b8b;
    padding: 0 15px;
}




/* Lettering */
/* ============================================================================ */

.lettering {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

#lettering {
    position: absolute;
    top: -83px;
}

.lettering-content {
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

        @media only screen and (max-width: 800px) {
            .lettering-content {
                flex-direction: column;
            }
        }

.lettering-content p {
    max-width: 650px;
}

/* .lettering-headline {
    font-size: 7rem; 
    color: #000;
    } */

.lettering-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-content: flex-start; */
}

#lettering-button {
    align-self: flex-start;
}

        @media only screen and (max-width: 450px) {
            #lettering-button {
                margin: 15px 0;
            }
        }

button, 
.button{
    /* max-height: 44px; */
    padding:16px 16px;
    /* margin: 16px 0; */
    border-radius: 4rem;
    border: none;
    font-weight: 500;
    /* max-width: fit-content; */
    font-size: 1.8rem;
    box-sizing: border-box;
    text-wrap: nowrap;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    gap: 0rem;
    position: relative;
    transition: gap 0.3s ease;
    width: fit-content;
    cursor: pointer;
}

.button:hover {
    gap: 0.8rem;
}

/* PRIMARY */
.button-primary{
    background-color: #000;
    color: #fff;
}

.button-primary:hover,
.button-primary:focus{
    background-color: #303030;
}

.button-primary svg path{
    fill: #fff
}

/* PRIMARY ONDARK*/
.button-primary-ondark{
    background-color: #fff;
    color: #000;
}

.button-primary-ondark:hover,
.button-primary-ondark:focus{
    background-color: #f2f0f0;
}

.button-primary-ondark svg path{
    fill: #000;
}


/* SECONDARY */
.button-secondary{
    border: 1px solid #000;
    color: #000;
    background-color: unset;
}

.button-secondary:hover,
.button-secondary:focus{
    background-color: #f2f0f0;
}

.button-secondary svg path{
    fill: #000;
}

/* SECONDARY ONDARK */
.button-secondary-ondark{
    border: 1px solid #fff;
    color: #fff;
}

.button-secondary-ondark:hover,
.button-secondary-ondark:focus{
    background-color: #303030;
}

.button-secondary-ondark svg path{
    fill: #fff;
}



  
/* Standardzustand */
.project-card .button-icon
 {
    opacity: 0;
    width: 0px;
    transform: translateX(-6px);
    transition: opacity 0.3s ease, width 0.3s ease, transform 0.3s ease;
    display: flex;
    gap: 0rem;
  }

  /* Hover auf Button selbst oder gesamte Card */
  .project-card:hover .button-icon,
  .project-card:focus .button-icon,
  .project-teaser:hover .button-icon,
  .project-teaser:focus .button-icon,
  .study-teaser:hover .button-icon,
  .study-teaser:focus .button-icon {
    width: 16px;
    opacity: 1;
    transform: translateX(0);
  }

  .project-card:hover .button,
  .project-card:focus .button,
  .project-teaser:hover .button,
  .project-teaser:focus .button,
  .study-teaser:hover .button,
  .study-teaser:focus .button  {
    gap: 0.8rem;
}

.button-icon {
    opacity: 0;
    width: 0px;
    transform: translateX(-6px);
    transition: opacity 0.3s ease, width 0.3s ease, transform 0.3s ease;
    display: flex;
    gap: 0.8rem;
  }
  
  .button:hover, 
  .button:focus{
    gap: 0.8rem;
  }
  
  /* Hover auf Button selbst oder gesamte Card */
  .button:hover .button-icon,
  .button:focus .button-icon {
    width: 16px;
    opacity: 1;
    transform: translateX(0);
    gap: 0.8rem;
  }

.button-container{
    display: flex;
    gap: 1.6rem;
    flex-wrap: wrap;
}

/* .button:hover {
    animation-name: button;
    animation-duration: .3s;
} */

#lettering-gallery-button {
    align-self: center;
}

        @media only screen and (max-width: 450px) {
            #lettering-button {
                margin: 15px 0;
            }
        }

#lettering-img {
    width: 350px;
    margin-left: 40px;
}

        @media only screen and (max-width: 800px) {
            #lettering-img {
                /* width: 500px; */
                margin-left: 0;
            }

            .lettering-copy {
                margin: 0 0 40px 0;
            }
        }

        @media only screen and (max-width: 380px) {
            #lettering-img {
                width: 100%;
            }
        }

/* 404 */
/* ============================================================================ */

.error-container {
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.error-message {
    text-align: center;
}

.error-message p {
    margin: 0 auto;
    max-width: 700px;
}

.hide {
    display: none;
}



/* CONTACT */
/* ============================================================================ */


.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 70vh;
    gap: 24px;
    align-items: center;
    gap: 4rem;
    margin-bottom: 3.2rem;
}

.contact img{
    max-height: 300px;
    animation: pigeon 3s ease infinite;
    z-index: 10;
    mix-blend-mode: multiply;
}


@keyframes pigeon {
    0% {
        rotate: 0deg;
        transform: translateY(0px) scale(1.0);
    }
    33% {
        rotate: -15deg;
        transform: translateY(-50px) scale(1.1);
      }
    66% {
        rotate: -10deg;
        transform: translateY(25px) scale(0.9);
      }
      
    100% {
        transform: translateY(0px) scale(1.0);
    }
  }
  

  /* Fade-out animation */
.fade-out {
    animation: fadeOut 0.5s forwards;
}

/* Fade-in animation */
.fade-in {
    animation: fadeIn 0.5s forwards;
}

/* Fade-out keyframes */
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Fade-in keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.contact p {
    max-width: 650px;
}

.contact ul {
    list-style: disc;
    font-size: var(--font-basis);
    line-height: 150%;
    max-width: 700px;
}

.contact-linkout {
    display: flex;
    flex-direction: column;
}

.contact-linkout .button {
    margin: 20px 0;
}

@media only screen and (max-width: 800px) {
    .contact {
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }
}


/* OVERLAY FOR PROJECT */


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1;
    padding: 20px 0 0px 0;
    opacity: 0;
    transition: .4s;
}

.overlay:hover, .overlay:focus{
    padding: 0px 0 5px 0;
    opacity: 1;
}

.prj-headline {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.prj-headline span {
    text-align: center;
    color: #fff;
    font-size: 2.2rem;
    font-style: italic;
}




/* GALLERY */
/* ============================================================================ */



/* .test-lettering-gallery {padding: 50px 0;} */

.inner-lettering-gallery {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 0;
}

        @media only screen and (max-width: 400px) {
            .inner-lettering-gallery {
                padding-top: 0;
                padding-bottom: 5%;
            }
        }


.lettering-gallery-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 2% 0 0 2%;
    width: calc(24% - 1.2em);
}

        @media only screen and (max-width: 650px) {
            .lettering-gallery-cont {
                width: calc(45% - 2em);
                margin: 3% 0 0 3%;
            }
        }

/* @media only screen and (max-width: 400px) {
        .prj-cont {
            width: 100%;
            margin: 6% 0 0 6%;
        }
    } */





.lettering-gallery-preview {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
}

.lettering-linkout {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
}

/* Anchors for Zersetzer */

.anchor-container {position: relative;}

.scroll-anchor {
    position: absolute;
    top: -120px;
  }

  


  /* WORK SECTION REWORK */

.work-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

  /* Das 12er Grid für die gesamte Projekte-Seite */
.projects-list {
    display: flex;
    flex-direction: column;
    /* border-bottom: 1px solid #ccc; */
    gap: 4rem;
    margin: 40px 0 0 0;
    padding: 0 0 40px 0;
  }
  
  /* Der Container für jedes einzelne Projekt */
  .project-teaser {
    display: flex;
    gap: 6rem;  /* Abstand zwischen Thumb und Meta */
    /* margin: 42px 0; */
    transition: .15s ease all;
  }

.project-teaser:hover,
.project-teaser:focus{
    background-color: #f5f5f5;
    border-radius: 8px;
    transition: 0.3s all ease;
}
    


  .project-teaser-info{
    padding: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2.4rem;
    width: 100%;
}   


.study-teaser {
    display: flex;
    gap: 2rem;  /* Abstand zwischen Thumb und Meta */
    /* margin: 40px 0 0 0; */
    transition: .15s ease all;
    background-color: #f5f5f5;
    border-radius: 8px;
    overflow: hidden;
}

.study-teaser:hover,
.study-teaser:focus {
    background-color: #e6e6e6;
    transition: 0.3s all ease;
}

.study-teaser:hover .study-thumb img,
.study-teaser:focus .study-thumb img{
    transform: scale(1.025);
    transition: .15s ease all;
  }

.study-teaser-info {
    padding: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2.4rem;
    width: 100%;
}

.study-thumb{
    background-size: cover;
    background-position: center;
    height: 100%;
    overflow: hidden;
    background-color: #ccc;
    transition: .15s ease all;
    position: relative;
    aspect-ratio: 1 / 1;
    max-height: 400px;
}

.study-thumb img{
       width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: .15s ease all;
}
  
  /* Der Thumbnail-Bereich (links) */
  .project-thumb{
    background-size: cover;
    background-position: center;
    height: 100%;  /* Höhe anpassen */
    width: 100%;  /* Breite anpassen */
    border-radius: 8px;  /* Optional, um die Ecken abzurunden */
    overflow: hidden;
    background-color: #ccc;  /* Grauer Hintergrund für das Thumbnail */
    transition: .15s ease all;
    position: relative;
    aspect-ratio: 3 / 2;
  }

.project-thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: .15s ease all;
}

  /* Der Meta-Info-Bereich (rechts) */
  .project-meta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 16px; */
  }

  .project-meta h3{
    padding: 0 0 1.6rem 0;
    hyphens: none;
  }

  .description {
    hyphens: auto;
  }

  .subpage-header{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-top: 6rem;
  }

  .subpage-header h1{
    font-size: 4rem;
  }

  .work-filter-buttons{
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    margin: 0 -12px;
    padding: 2px 12px;
    /* flex-wrap: wrap; */
    
  }

  .projects-linkout .work-filter-buttons{
    flex-wrap: wrap;
  }

  .work-filter-buttons::-webkit-scrollbar{
    display: none;
  }

  .category-description{
    font-style: italic;
    border-left: 1px solid #000;
    padding-left: 1.6rem;
  }




@media only screen and (max-width: 1000px) {
    .project-teaser, .study-teaser {
        gap: 1.6rem;
        display: flex;
        flex-direction: column;
        margin: 2.4rem 0;
    }

    .button{
        padding: 12px 12px;
    }


    .study-teaser .project-teaser-info{
        padding: 4px 12px 16px 12px;
    }
}


@media only screen and (max-width: 800px) {
    
    .work-container{
        gap: 2rem;
    }

    .project-teaser-info{
        padding: 8px;
    }

    .subpage-header{
        margin-top: 4rem;
        gap: 1.6rem;
    }
}

  
  .project-teaser:hover .project-thumb img,
  .project-teaser:focus .project-thumb img{
    transform: scale(1.015);
    transition: .15s ease all;
  }

  /* FADE PROJEKT TEASER */

  /* .project-teaser {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    display: none;
  }
  
  .project-teaser.show {
    display: flex;
    opacity: 1;
    transform: translateX(0);
  }
  
  .project-teaser.fade-out {
    opacity: 0;
    transform: translateY(-20px);
  } */
  

  .project-skeletons {
  display: none;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
}

.project-skeletons .skeleton {
  width: 100%;
  max-width: 400px;
  height: 300px;
  background: linear-gradient(100deg, #eee 30%, #ddd 50%, #eee 70%);
  background-size: 400% 100%;
  animation: loading 1.2s ease-in-out infinite;
  border-radius: 0.5rem;
}

@keyframes loading {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@media (min-width: 768px) {
  .project-skeletons .skeleton {
    width: calc(50% - 1rem);
  }
}

@media (min-width: 1024px) {
  .project-skeletons .skeleton {
    width: calc(33.333% - 1.33rem);
  }
}


/* PROJECT PAGE NEW LAYOUT */

.project-stage{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  padding-top: 24px;
}

@media only screen and (max-width: 1400px) {
    .project-stage{
        gap: 4rem;
    }
}

@media only screen and (max-width: 800px) {
    .project-stage{
        flex-direction: column-reverse;
        padding-top: unset;
    }
}

.stage-text{
    width: 100%;
    padding: 0;
}

.stage-text h1{
    hyphens: none;
}

.stage-graphic {
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 3/2;
    background-color: lightgray;
    transition: 0.3s all ease;
}

@media only screen and (max-width: 1800px) {
    .stage-graphic {
        margin-right: -4rem;
        border-radius:
        8px 0 0 8px;
    }
  }


@media only screen and (max-width: 1400px) {
    .project-stage{
        gap: 4rem;
    }
    }


@media only screen and (max-width: 800px) {
.stage-graphic {
    border-radius:0;
    margin-left: -2%;
    margin-right: -2%;
    width: 108%;
}
}

  
.stage-graphic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left top;
}


.project-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 6rem;
    margin: 4rem 0;
    flex-wrap: wrap;
    margin: 4rem 0 8rem 0;
}

@media only screen and (max-width: 800px) {
    .project-info {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 3rem;
        margin: 4rem 0 0 0;

    }
}

.info-item{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    pointer-events: none;   
}


@media only screen and (max-width: 600px) {
    .info-item{
        width: min-content;
    }
}


/* Showreel */

.project-intro {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 8rem 0;

}

.wip-disclaimer{
    background-color: #f5f5f5;
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 3.2rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.project-role{
    /* padding-bottom: 8rem; */
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.project-role p{
    margin-top: 0 !important;
}

.project-role > *{
    width: 100%;
}

.showreel video{
    aspect-ratio: 16/9;
    width: 100%;
    background-color: lightgrey;
    overflow:hidden ;
    border-radius: 8px;
}


.project-details {
    display: flex;
    flex-direction: column;
    /* gap: 4rem; */
    margin-bottom: 8rem;
}

.project-details h3{
    margin-bottom: 4rem;
}

.project-details .body-regular {
    max-width: 1200px;
    hyphens: auto;
    margin-top: 4rem;
    width: 100%;
}

@media only screen and (max-width: 1400px) {

    .project-details .body-regular{
        margin-top: unset;
    }
}


.project-chapter{
    display: flex;
    flex-direction: column;
    border-top:   1px solid lightgray;
    padding-top: 4rem;
    margin-top: 4rem;
    /* gap: 10rem; */
    /* max-width: 1200px; */
}

.project-chapter h2{
    margin-bottom: 2.4rem;
}

.dropshadow-img img{
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}



.project-slide {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    margin-bottom: 18rem;
}

.project-slide img, 
.project-slide video,
.project-slide span {
    width: 160%;
    border-radius: 8px;
    /* max-width: 1200px; */
    height: fit-content;
}


.img-with-subline{
    width: 160%;
    border-radius: 8px;
    max-width: 1200px;
    height: fit-content;
}

.img-with-subline img{
    width: 100%;
}

@media only screen and (max-width: 1000px) {

    .project-intro {
        margin: 4rem 0;
    }

    .project-slide {
        flex-direction: column;
        gap: 2.4rem;
        margin-bottom: 8rem;
    }

    .project-slide img, 
    .project-slide video,
    .project-slide span {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {

    .project-slide {
        margin-bottom: 4rem;
    }
}



.projects-linkout{
    display: flex;
  flex-direction: column;
  padding: 0 0 3.2rem 0;
  /* margin-top: 4rem; */
  border-top: 1px solid lightgray;
  gap:1.6rem;
}

.projects-linkout .project-info{
    margin: 1.6rem 0;
}

.linkout-teaser{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    text-transform: uppercase;
    margin: 3.2rem 0;
    cursor: pointer;
    transition: 0.3s all ease;
    overflow: hidden;
}

.linkout-teaser:hover, .linkout-teaser:focus{
    scale: 1.01;
    transition: 0.3s all ease;
}

.linkout-teaser img{
    padding-left: 24px;
}

.linkout-teaser span{
    font-size: var(--font-basis);
}

.linkout-acsplorer{
    background-color: #002574;
    color: #FF6A08;
}

.linkout-acsplorer:hover, .linkout-acsplorer:focus{
    background-color: #001c59;
}

.instagram-teaser{
     display: none;
     background-color: #202020;
     color: #fff;
}

.instagram-teaser span{
    z-index: 1;
    text-shadow: 0 4px 12px rgb(0, 0, 0);
}

.instagram-teaser:hover, .instagram-teaser:focus{
    background-color: #000000;
}


.instagram-teaser {
  position: relative;
  min-height: 200px;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  color: white;
  align-items: flex-start;

}

.instagram-teaser-text{
    display: flex;
    flex-direction: column;
}

.instagram-handle{
    text-transform: lowercase;
    font-size: 32px !important;
    font-weight: 500;
}

.instagram-gallery {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  animation: scrollGallery 60s linear infinite alternate;
  pointer-events: none;
}

.instagram-gallery img {
  height: 102%;
  width: auto;
  flex-shrink: 0;
  object-fit: cover;
  padding: 0;
  margin: -2px;
}

@keyframes scrollGallery {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.instagram-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent);
  pointer-events: none;
  transition: 0.3s all ease;
}


.instagram-teaser:hover .instagram-overlay, 
.instagram-teaser:focus .instagram-overlay{
    background: linear-gradient(to right, rgba(50, 50, 50, 0.9), transparent);
    transition: 0.3s all ease;
}


.instagram-content {
  position: relative;
  max-width: 40%;
  z-index: 2;
}




.development-disclaimer {
    border: 2px solid orange;
    background-color: #fde5c4;
    color: black;
    padding: 10px 20px;
    font-size: var(--font-basis);
    text-align: center;
    border-radius: 5px;
    margin: 20px 0;
  }
  



  @media only screen and (max-width: 800px) {

    .button-icon,
    .project-card .button-icon {
        opacity: 1 !important;
        width: 16px !important;
        transform: translateX(0px);
    }

    .button{
        gap: 0.4rem;
    }
}
