/* img-transforms */
/* ============================================================================ */

.prj-img--default-transform { transform: scale(1.5) rotate(45deg); }
.prj-img--default-transform:hover { transform: scale(1) rotate(0deg); }


.project-preview-img { transform: scale(1.0); }
.project-preview-img:hover { transform: scale(1.03); }

