<!DOCTYPE html>
<html lang="de">
{% include head.html%}
<body>
    {% include navigation.html%}

    <section class="container-wrapper concact-container">
        <div class="contact">
            <h2>Want to reach out?</h2>
            <p class="error-p">I'm always open for interesting projects and would love to support you with realizing yours. Please send me an E-Mail or Whatsapp (+49151 5552 6691) regarding important information about your idea. Some questions to consider are:  </p>
            <ul>
                <li>Who are you? What is your business, product or service? </li>
                <li>What kind of project do you want to realize? (This could be a custom logo, label, website, branding or lettering such as invitation cards or restaurant menu, for example) </li>
                <li>What are your desired results? What are your objectives and who are your competitors? </li>
            </ul>
            <p>The more I know about you, your business, product or service, the better I am able to understand your vision and support you with a fitting design solution in the best possible way. I'm looking forward to hear from you!</p>    
            
            <p>
                <br>
                <a id="contact-page-button" onclick="closeBurgerNav();" href="mailto:feuring.tim@gmail.com" target="blank"> send e-mail </a>
                <br><br><br>
                <a class="underline" href="index.html">Go back</a>
            </p>
        </div>
    </section>

    

</body>
</html>