<!DOCTYPE html>
<html lang="de">
{% include head.html%}
<body>
    {% include navigation.html%}

    <main class="container-wrapper">
        <div class="contact">
            <img id="rotating-image" src="assets/img/contact/contact-4.svg" alt="Rotating Illustration">

            <div>
                <h4>Let's get in touch!</h4>
                <p>I’m always excited to work on interesting projects  and would love to help bring yours to life. Feel free to contact me via <a class="underline" href="mailto:feuring.tim@gmail.com">email</a>, <a class="underline" href="https://wa.me/+4915155526691?text=Hallo,%20ich%20schreibe%20über%20den%20kontakt%20auf%20timfeuring.de">WhatsApp</a> or give me a call <a class="underline" href="tel:+4915155526691">(+49151 5552 6691)</a> – looking forward to hear from you.</p>
            </div>
        </div>
    </main>

    <div class="dark">
        {% include footer-contact.html %}
    </div>
    <script type="text/javascript" src="assets/script.js" defer></script>
</body>
</html>