<!DOCTYPE html>
<html lang="en">
    {% include head.html%}
    <body>
        {% include project-navigation.html %}
        <section class="container-wrapper prj-details">
                <div class="prj-details-intro">
                    <h2 class="project-title"> {{page.title}} </h2>
                    <p class="project-category"> {{page.category}} </p>
                    <img id="{{page.img-id}}" class="stage-img" src="{{page.img-path}}" alt="{{page.img-alt}}">
                    
                        {{ content }}
                </div>
        </section>
        {% include footer-imprint.html %}
    </body>