<!DOCTYPE html>
<html lang="en">
    {% include head.html%}
    <body>
        {% include navigation.html %}
        <main>
            <div class="container-wrapper">
                <header class="subpage-header">
                    <h1>Studies</h1>
                    <p>
                        A collection of explorations, exercises, and experimental projects,
                        reflecting my ongoing interest in typography, lettering and visual storytelling – from university experiments to type design and illustrated layouts.
                        <br><br>
                        <a class="underline" href="/work">Find more recent projects on the „work“ page.</a>
                    </p>
                </header>
                {% include studies-projects.html %}
            </div>
        </main>
        <div class="dark">
        {% include footer-contact.html %}
        </div>
        <script type="text/javascript" src="assets/script.js"></script>
    </body>
</html>